bin
.classpath
.settings
eclipse
.project
*.iml
tmp
uploads
test-result
precompiled
logs
*.log
*target/
*.bak
./data
personal*.conf
conf/init-appmode-*.yml
lib
documentation/
server.pid
log4j.dev.properties
.DS_Store
