#{extends 'main.html' /}
#{set title:'search' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/benefit.css'}" rel="stylesheet" type="text/css">
<link href="@{'/public/stylesheets/commonAdd.css'}" rel="stylesheet" type="text/css">
#{/set}
<div id="content">

	<div id="bt_content_top">
		<!-- 상단 Location 시작 -->
		<div class="content_top_location clearfix CategoryLocation">
			<div class="content_top_left">
				<h3>
					<a href="#">
						<img src="/public/images/img/content_h3.gif" alt="ev"></a>
				</h3>
				<div class="left_con">
					<p class="location_area">
						<img src="/public/images/img/location_home.gif" alt="home">&gt;</p>
					<div id="selectbox" class="selectbox">
						<select>
							<option value="">- 쿠폰/포인트/혜택 -</option>
							<option value="ThisMonthBenefit_V2">1. 이달의 혜택</option>
							<option value="CardBenefit">2. 카드 혜택</option>
							<option value="MobileBenefit_V2">3. 모바일 혜택</option>
							<option value="NewMomBenefit">4. 신규맘 혜택</option>
							<option value="GradeBenefit" selected="selected">5. 등급별 혜택</option>
							<option value="BaroBoriBenefit">6. 바로보리 혜택</option>
							<option value="DancuBenefit">7. 단추(포인트)혜택</option>

						</select>
					</div>
				</div>
				<a href="#" class="history_back">上一页</a>
			</div>
			<p class="content_top_right"></p>
		</div>
	</div>

	<!-- 시작 -->
	<div class="wrap" style="padding:0px;">

		<p class="txtRight"></p>
		<div class="tabBenefit">
			<a href="#" id="tab01" rel="con01" class=""></a>
			<a href="#" id="tab02" rel="con02" class=""></a>
			<a href="#" id="tab03" rel="con03" class=""></a>
			<a href="#" id="tab04" rel="con04" class=""></a>
			<a href="#" id="tab05" rel="con05" class="on"></a>
			<a href="#" id="tab06" rel="con06" class=""></a>
			<a href="#" target="_blank" id="tab07" rel="con07"></a>
		</div>

		<div id="con03" class="mCon">
			<div style="position:absolute; top:1155px;">
				<a name="tab_SC" <="" a=""></a>
			</div>
			<a name="tab_SC" <="" a=""></a>
			<div style="position:absolute; top:1655px;">
				<a name="tab_SC" <="" a=""></a>
				<a name="tab_T"></a>
			</div>
			<div style="position:absolute; top:1855px;">
				<a name="tab_C"></a>
			</div>
			<div>
				<form method="post" action="" id="form1">
					<div class="aspNetHidden">
						<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value=""></div>

					<div id="test">
						<div id="con03" class="mCon" style="display:block">
							<div class="top">
								<p style="font-size:38px;color:#444;">
									<span class="month m4"></span>
									不同等级再度优惠</p>
								<div class="userInfo">
									<div class="levelBox">
										<img src="/public/images/img/benefit_no_login.gif" id="GradeInfoImg_LogOut">
									</div>
									<div id="lgAfter" class="userInfo_R" style="display: none;"></div>
									<div id="lgBefore" class="userInfo_R logOut">
										<a href="javascript:" style="display:inline-block;width:200px;height:26px;line-height:26px;text-align:center;background-color:#bbb;border:1px solid #999;color:#fff">
											这个月我的等级，看一看</a>
										<p class="info2"> <strong class="point3">您的等级优惠</strong>
											确认点击
											<br> 这需要<strong class="point1">登录</strong>
											
										</p>
									</div>
								</div>
							</div>
							<p>
								<img src="/public/images/img/level_info.jpg" alt=""></p>
							<div class="level_table" id="coupon">
								<img src="/public/images/img/level_table_1.jpg" alt="" usemap="#level_table">
								<!-- <map name="level_table">
									<area shape="rect" coords="845,503,1015,636" target="_blank" href="http://www.boribori.co.kr/MyPage/JoinModify.asp" onfocus="this.blur()" alt="내정보확인">
									<area shape="rect" coords="156,769,841,898" onfocus="this.blur()" onclick="return ChildcheckCoupon(5,'18938');" alt="우리아이 생일축하 쇼핑지원금" href="#none">
									<area shape="rect" coords="843,764,1013,897" onfocus="this.blur()" href="https://member.boribori.co.kr/Info/EtcModify" target="_blank" alt="자녀정보확인">
									<area shape="rect" coords="156,903,841,1032" href="#none" onfocus="this.blur()" onclick="return checkCoupon(6,'229956');" alt="엄마 생일축하 쇼핑지원금">
									<area shape="rect" coords="846,902,1016,1035" href="http://www.boribori.co.kr/MyPage/JoinModify.asp" target="_blank" onfocus="this.blur()" alt="생일정보확인">
									<area shape="rect" coords="160,504,673,635" href="/Community/Enjoy/HappyEventView.aspx?BoardSeq=1103478" target="_blank" alt="VIP 게릴라 특가샵">
									<area shape="rect" coords="158,636,671,767" href="/Community/Enjoy/HappyEventView.aspx?BoardSeq=42875&amp;Eventing=true" target="_blank" alt="타임쿠폰">
									<area shape="rect" coords="158,1039,836,1135" href="http://www.boribori.co.kr/Community/Enjoy/HappyEventView.aspx?BoardSeq=43666" target="_blank" onfocus="this.blur()" alt="돌잔치 초대장 무료다운"></map> -->
								
							</div>

							<p>
								<img src="/public/images/img/level_img1.jpg"></p>
						</div>
						<div class="boriOn_Grade">
							<p>
								<a href="#" target="_blank">
									<img src="/public/images/img/level_img3.jpg" alt=""></a>
							</p>
						</div>

					</div>

					<!-- //middle -->

					</form>
			</div>
		</div>
	</div>


</div>
#{set 'moreScripts'}
<script src="@{'/public/javascripts/idangerous.swiper-3.0.min.js'}" type="text/javascript"></script>

#{/set}