
 /* layout */
.container_header{position:relative;*zoom:1}
.container_header:after{display:block;clear:both;content:''}
.container_body{position:relative;margin:25px 0;*zoom:1}
.container_body:after{display:block;clear:both;content:''}
.container_left{float:left;position:relative;width:170px}
.container_contents{float:right;position:relative;width:897px;color:#666}
.bannerimg img {
	width: 100%;
}

.fl{float:left}
.align_l{text-align:left !important}

.button{overflow:hidden;display:inline-block;font-family:'Hiragino Sans GB','microsoft yahei',arial,sans-serif;vertical-align:top;cursor:pointer}
input.iRadio,input.iCheck{display:inline-block;width:13px;height:13px;margin:0 3px 0 0;vertical-align:top}
input.text{padding-left:3px;*margin:-1px 0;line-height:22px;height:22px;font-size:11px;vertical-align:top}
.point_txt{color:#F84246}
.f_tahoma,.f_tahoma:hover{font-family:'Hiragino Sans GB','microsoft yahei',arial,sans-serif;}
.text_wrap{line-height:11px}
.txt_type01{display:inline-block;margin-right:5px;line-height: 22px;font-size:12px;vertical-align:top}
.header_txt_type01{padding:10px 0}
.footer_txt_type01{padding:5px 0;letter-spacing:-1px;color:#999}
.mypage_like{display:inline-block;height:20px;padding-left:20px;line-height:22px;text-align:left;color:#555555;font-weight:bold;vertical-align:top}
.mypage_like:hover{line-height:22px;text-align:left;color:#555555;font-weight:bold;vertical-align:top}
.banner_only_power{position:relative;margin:0px 0 30px}
.banner_wrap{position:relative}
.banner_wrap .banner_img{position:relative} 
.t_space{margin-top:3px}

.phon_bar{margin:0 5px;line-height:22px}
.txt_hid{display:block;overflow:hidden;width:100%;height:21px;line-height:21px;white-space:nowrap;text-overflow:ellipsis}
.txt_hid:hover{line-height:21px}
.txt-lineh{line-height:16px !important}
.btn_h18{display:inline-block;height:18px;margin-top:0px}
.over_u:hover{text-decoration:underline}	
.ico_img{margin-top:3px;*margin-top:1px;vertical-align:top}

/* selectbox */
.selectbox_applied{position:relative;text-align:left}
.selectbox_applied select{display:none}
.selectbox_box{display:inline-block;width:100%;border:1px solid #b9b9b9;background:#fff;line-height:14px;cursor:pointer}
.selectbox_label{display:block;overflow:hidden;float:none;height:14px;margin-right:17px;padding:3px 0 2px 6px;border:0;background:#fff;color:#666666;white-space:nowrap}
input.selectbox_label{float:left;padding:5px 0 2px 8px}
.selectbox_layer{display:none;overflow:auto;position:absolute;z-index:90;width:100%;margin:1px 0 0;border:1px solid #b9b9b9;white-space:nowrap;background:#fff}
.selectbox_list{overflow-x:hidden;overflow-y:auto;height:80px;z-index:20;vertical-align:top}
.selectbox_list li{display:block !important;overflow:hidden;margin:0 !important;padding:0 !important;background-color:#fff;cursor:pointer}
.selectbox_list li:hover{background-color:#e7e7e7;color:#666666;text-decoration:none}
.selectbox_list li a{display:block;padding:3px 2px 2px 6px;line-height:14px;color:#666666;text-align:left}
.selectbox_list li a:focus,.selectbox_list li .selected{background-color:#e7e7e7;font-weight:normal;color:#666666;text-decoration:none}


.container_myMain_header{position:relative;width:1009px;margin-left:92px;*zoom:1;background-color: #f7f7f7;border-radius: 0 20px 0 0;border-right: 1px solid #888}

.container_myMain_header .mypage_myLevel{position:absolute;left:-92px;top:-2px;width:202px;height:200px;z-index:10;}
.container_myMain_header .mypage_myLevel p{position:relative;padding-top:111px;font-size:11px;color:#5c5c5c;text-align:center}
.container_myMain_header .mypage_myLevel p strong{color:#272727}
.container_myMain_header .mypage_myLevel p .member_level{display:block}
.container_myMain_header .thisMonthLevel_info{position:relative;top:0px;width:100%;height:36px;margin:0;padding:0;background-color: #888;
    border-radius: 0 20px 0 0;}
.container_myMain_header .thisMonthLevel_info .disc{padding:11px 0 0 230px;font-size:13px;color:#fff;font-weight:bold;}
.container_myMain_header .thisMonthLevel_info .disc2{padding:11px 0 0 131px;font-size:13px;color:#fff;font-weight:bold;}
.container_myMain_header .thisMonthLevel_info .disc strong{color:#ffd93b;letter-spacing:0}
.container_myMain_header .thisMonthLevel_info .disc2 strong{color:#ffd93b;letter-spacing:0}
.container_myMain_header .my_mainBox{position:relative;padding-left:185px;border-bottom:1px solid #888;}
.container_myMain_header .my_mainBox:after{display:block;clear:both;content:''}
.container_myMain_header .my_mainBox .benefit_header{float:left}
.container_myMain_header .my_mainBox .benefit_header h1{margin-top:43px}
.container_myMain_header .my_mainBox .benefit_body{position:relative;*zoom:1}
.container_myMain_header .my_mainBox .benefit_body:after{display:block;clear:both;content:''}
.container_myMain_header .my_mainBox .benefit_body .benefit_lst{position:relative;height:20px;line-height:20px;margin-top:10px;*zoom:1;}
.container_myMain_header .my_mainBox .benefit_body .benefit_lst:after{display:block;clear:both;content:''}
.container_myMain_header .my_mainBox .benefit_body .first-child{margin-top:0}
.container_myMain_header .my_mainBox .benefit_body .benefit_lst dt{float:left;}


.container_myMain_header .my_mainBox .benefit_body .benefit_lst dd{position:relative;text-align:right}
.container_myMain_header .my_mainBox .benefit_body .benefit_lst dd .txt_sys,.container_myMain_header .my_mainBox .benefit_body .benefit_lst dd .txt_sys a{display:inline-block;font-size:12px;font-family: 'Hiragino Sans GB','microsoft yahei',arial,sans-serif;font-weight:bold;color:#f84246;vertical-align:top}
.container_myMain_header .my_mainBox .benefit_body .benefit_lst dd img.txt{margin:4px 0 0 4px}
.container_myMain_header .my_mainBox .level_benefit{float:left;width:335px;height:134px;padding-top:24px;margin-left: 30px;}
.welcome{font-size: 15px;
    color: #444;
    display: block;}
.container_myMain_header .my_mainBox .level_benefit .benefit_header{width:92px}
.container_myMain_header .my_mainBox .level_benefit h1{position:relative;width:64px;height:17px;}
.container_myMain_header .my_mainBox .level_benefit .benefit_body{margin-left:92px;padding-right:19px}
.container_myMain_header .my_mainBox .level_benefit .benefit_body .benefit_lst dt{width:110px}
.container_myMain_header .my_mainBox .level_benefit .benefit_body .benefit_lst dd{margin-left:110px}


.container_myMain_header .my_mainBox .shopping_benefit .benefit_body{padding-right:45px}
.container_myMain_header .my_mainBox .shopping_benefit{float:left;width:305px;height:134px;padding:24px 0 0 34px;}
.container_myMain_header .my_mainBox .shopping_benefit .benefit_header{width:95px}
.container_myMain_header .my_mainBox .shopping_benefit h1{position:relative;width:64px;height:17px;}
.container_myMain_header .my_mainBox .shopping_benefit .benefit_body{margin-left:95px}
.container_myMain_header .my_mainBox .shopping_benefit .benefit_body .benefit_lst dt{width:90px}
.container_myMain_header .my_mainBox .shopping_benefit .benefit_body .benefit_lst dd{margin-left:76px}


.container_myMain_header .my_emblem{position:absolute;left:123px;top:0px;height:52px}
.container_myMain_header .my_emblem .emblem_LikeMom{overflow:hidden;display:inline-block;width:39px;height:52px;font-size:0;line-height:0}
.container_myMain_header .my_emblem .emblem_powerReviewMom{overflow:hidden;display:inline-block;width:39px;height:52px;font-size:0;line-height:0}
.container_myMain_header .my_emblem .emblem_boriExperience{overflow:hidden;display:inline-block;width:39px;height:52px;font-size:0;line-height:0}


.container_header .title_area{position:relative;*zoom:1}
.container_header .title_area:after{display:block;clear:both;content:''}
.container_header .title_area h1{float:left}
.container_header .title_area h1.title_mypage span{overflow:hidden;display:inline-block;width:0;height:0;font-size:0;line-height:0}



.container_body .container_left .mypage_menu{padding:0 6px;border:1px solid #d2d2d2}
.container_body .container_left .mypage_menu h2{margin:18px 0 0 5px}

.container_body .container_left .mypage_menu h2 span{overflow:hidden;display:block;position:relative;width:100%;height:20px;}
.container_body .container_left .mypage_menu li a{overflow:hidden;display:block;position:relative;height:18px;line-height: 18px;margin:0px 5px;}
.container_body .container_left .mypage_menu ul{padding:7px 0 18px 0;border-bottom:1px solid #ececec}
.container_body .container_left .mypage_menu li{height:18px;padding-bottom:2px;vertical-align:top}
.container_body .container_left .mypage_menu h2 span{font-size: 14px;color: #333;width:100px;}
.container_body .container_left .mypage_menu a.active{background-color: #FECF10;color: #444;}


.cs_center{position:relative;*zoom:1}
.cs_center:after{display:block;clear:both;content:''}
.cs_center .cs_tit{overflow:hidden;position:relative;width:100%;height:18px;margin:21px 0 9px 0;font-size:14px;line-height:16px;text-align:center;font-family: 'Hiragino Sans GB','microsoft yahei',arial,sans-serif;}
.cs_center .cs_lst{position:relative;margin-left:-3px;*zoom:1}
.cs_center .cs_lst:after{display:block;clear:both;content:''}
.cs_center .cs_lst li{float:left;padding:3px 0 0 3px}
.cs_center .cs_lst li a{display:inline-block;width:83px;height:64px;background:#cecece url(/public/images/img/cs_center.png);background-repeat:no-repeat;background-size: 100%;vertical-align:top}
.cs_center .cs_lst li a span{overflow:hidden;display:block;font-size:0;line-height:0;text-indent:-900em}
.cs_center .cs_lst li a.qna{background-position:0 0}
.cs_center .cs_lst li a.faq{background-position:0 -64px}
.cs_center .cs_lst li a.sixday{background-position:0 -128px}
.cs_center .cs_lst li a.point{background-position:0 -192px}
.cs_center_tel{position:relative;margin-top:20px;padding-bottom:18px;border-bottom:2px solid #6a6a6a;text-align:center}


.container_myMain_contents{}
.container_myMain_contents .tit_wrap{position:relative;margin:25px 0 10px;*zoom:1}
.container_myMain_contents .tit_wrap:after{display:block;clear:both;content:''}
.container_myMain_contents .tit_wrap .column_left{float:left;padding-left:3px}
.container_myMain_contents .tit_wrap .column_right{float:right;*height:18px}
.container_myMain_contents .tit_wrap .column_right .more{display:inline-block;padding-top:8px}


.container_contents h3{margin:0 0 0 3px;padding-bottom:10px;font-size:15px;color:#444;}
.container_contents .help_txt{margin:25px 0 15px 3px;padding:0;text-align:left}
.container_contents h4{margin:25px 0 10px;padding:0;text-align:left}

.container_contents .page_info{position:relative;margin:14px 0 30px}

.container_body .search_area{position:relative;margin:0 0 30px 0;*zoom:1;z-index:99}
.container_body .search_area:after{display:block;clear:both;content:''}
.container_body .search_area .search_box{overflow:hidden;padding:9px 0 3px;border-top:1px solid #b9b9b9;background-color:#ececec}
.container_body .search_area .search_box .area_l{float:left;padding-left:6px;margin-bottom: 6px;margin-right: 10px;}
.container_body .search_area .search_box .area_l .button{margin-right:3px;border:1px solid #ccc;background-color: #fafafa;display: inline-block;width: 38px;height: 18px;line-height: 18px;text-align: center;}
.container_body .search_area .search_box .area_l .button.active {
	background-color: #646464;color: #fff;
}
.container_body .search_area .search_box .selectbox_box{display:inline-block;width:100%;border:1px solid #b9b9b9;line-height:14px;cursor:pointer}
.container_body .search_area .search_box .selectbox_label{display:block;overflow:hidden;float:none;height:14px;margin-right:17px;padding:2px 0 1px 6px;border:0;background:#fff;color:#666666;text-align:center;white-space:nowrap}
.container_body .search_area .search_box .input_type{margin-top:3px}
.container_body .search_area .search_box .input_type .iRadio{vertical-align:top}
.container_body .search_area .search_box .input_type span{display:inline-block;margin:1px 12px 0 3px;color:#666;font-size:12px;vertical-align:top}
.container_body .search_area .search_box .area_r{float:right;/*padding-right:20px*/}
.container_body .search_area .search_box .area_r .selectbox{margin-right:4px}
.container_body .search_area .search_box .area_r .bar{display:inline-block;float:left;height:19px;padding:0 6px;line-height:19px}
.container_body .search_area .btn_search{width:59px;height:19px;margin-left:8px;border:0;font-size:0;line-height:0}
.tbl_type01 td:last-child .tdcell {text-align: right;}
.tbl_type01 thead th:last-child .thcell {text-align: right;}
table .btn_cancleReturn{height:18px}
table .btn_partner_info{height:18px;padding-top:5px}
table .btn_normal{height:18px}
table .btn_power{height:18px;padding-top:3px}
table .btn_speed{height:17px;padding-top:3px}
table .btn_repurchaser{height:18px}
table .btn_return_search{height:18px;margin:0px 0 0 5px}
table .btn_address_change{height:18px}
table .btn_request{height:18px}
table .btn_view{height:18px}
table .btn_use_view{display:inline-block;height:18px;padding-right:36px;line-height:18px}
table .btn_use_view:hover{line-height:18px;color:#6F6F6F}
table .btn_delete{height:18px}
table .btn_modify{height:18px}
table .btn_zip{width:55px;height:20px;margin-left:5px;border:0;font-size:0;line-height:0}

.tbl_wrap{position:relative; z-index:1;}
.tbl_wrap table tbody tr td .tab {
	display:inline-block;width:71px;height:23px;line-height: 23px;text-align: center;color: #444;border:1px solid #666;border-bottom: none
}
.tbl_wrap table tbody tr td .active {
	background-color: #a99d8f;color: #fff;
}
.tbl_wrap_type01{position:relative;border-top:1px solid #5b5a56;text-align:center}
.tbl_wrap_type02{position:relative;border-top:2px solid #fecf10;text-align:center;/*padding-left: 30px;*/}

table td .tdcell .iCheck{margin-top:2px;vertical-align: middle;}
table td .tdcell label{display:inline-block;margin:3px 3px 0;vertical-align:top}
.tdcell_input{top:-2px}
.tbl_basic td .tdcell .button{*display:inline !important}

.tbl_type03{position:relative;width:100%;border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed}
.tbl_type03 thead th{height:30px;background:#fff9dd;font-size:12px;line-height:30px;color:#666666;font-weight:bold;text-align:center}
.tbl_type03 thead th .thcell{overflow:hidden;position:relative;padding:6px 0px 3px;font-size:12px;color:#666;font-weight:bold;line-height:21px;letter-spacing:-0.05em;white-space:nowrap;text-align: center;}
.tbl_type03 thead th .bar{position:absolute;top:0;left:0}
.tbl_type03 td{border:0;border-bottom:1px solid #d3d3d3;font-size:11px}
.tbl_type03 td .tdcell{position:relative;min-height:21px;*height:21px;padding:6px 5px 3px;line-height:21px;font-size:12px;color:#666;vertical-align:middle;text-align: center;}
.tbl_type03 td .tdcell .point_txt2{line-height:18px;color:#f84246;font-weight:bold}
.tbl_type03 td .tdcell .point_txt2:hover{color:#f84246;font-weight:bold}
.tbl_type03 td .tdcell label{line-height:14px}
.tbl_type03 td .tdcell a{/*display:inline-block;vertical-align:top;*/color:#666}
.tbl_type03 .col_01{background-image:none}
.tbl_type03 thead th .thcell .point_txt2{font-size:12px}
.tbl_type03 .no_data{height:30px;border-bottom:1px solid #d3d3d3;background-color:#f6f6f6}
.tbl_type03 .no_data .tdcell a{display:inline;line-height:auto;vertical-align:middle}

 
.tbl_type02{position:relative;width:100%;border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed}
.tbl_type02 th{height:30px;border:0;border-bottom:1px solid #D4D4D4;background:#ECECEC;font-size:12px;color:#666;font-weight:normal;text-align:left}
.tbl_type02 th .thcell{overflow:hidden;position:relative;padding:6px 5px 3px 15px;font-size:12px;color:#666;line-height:21px;white-space:nowrap;vertical-align:middle}
.tbl_type02 td{border:0;border-bottom:1px solid #D4D4D4;font-size:11px}
.tbl_type02 td .tdcell{position:relative;padding:5px 5px 2px 9px;font-size:11px;color:#666;text-align:left;vertical-align:middle}
.tbl_type02 td .tdcell a,.tbl_type02 td .tdcell span{display:inline-block;color:#666}
.tdcell span.txt{display:inline-block;line-height:21px}

.tbl_type01{position:relative;margin-bottom:15px;width:100%;border:0;border-collapse:collapse;border-spacing:0;table-layout:fixed}
.tbl_type01 thead th{height:30px;font-size:12px;color:#666666;text-align:center;padding: 8px 0}
.tbl_type01 thead th .thcell{overflow:hidden;position:relative;height:21px;font-size:12px;line-height:21px;color:#666666;white-space:nowrap;text-align: center;}
.tbl_type01 td{border-bottom:1px solid #ececec;vertical-align: middle;}
.tbl_type01 td .tdcell{padding:10px 6px;color:#666;line-height:15px;text-align: center;vertical-align: middle;}
/*.evaluate {
	display: inline-block;
	width: 61px;
	height: 19px;
	line-height: 19px;
	text-align: center;
	border: 1px solid #d1d1d1;
	background-color: #fff;
	color: #444;
}*/
.thcellId {
	width: 80px;
}
.thcelledit {
	width: 200px;
}
.thcell120 {
	width: 120px;
}
.tbl_type01 td div,.tbl_type01 td span{color:#666}
.tbl_type01 .col_01{background-image:none}
.tbl_type01 td .order_num{padding-top:5px}
.tbl_type01 .btn_down{display:inline-block;height:16px;padding-top:3px;line-height:16px}
.tbl_type01 .btn_delivery{display:inline-block;margin-top:3px;text-decoration:underline !important;color:#f84246 !important;padding-right:5px; }
.tbl_type01 .btn_delivery2{display:inline-block;margin-top:3px;text-decoration:underline !important;color:#f84246 !important;padding-right:5px;}
.tbl_type01 .txt_release{color:#333 !important}
.point_red{color:#F4506A !important;font-weight:bold}
a.order_number{font-family:'Hiragino Sans GB','microsoft yahei',arial,sans-serif;}
a.order_number:hover{color:#666;text-decoration:underline}

.container_contents .ListInfo{clear:both;position:relative;height:23px;padding-top:7px;margin:0px 0 12px;font-size:12px;line-height:1px;color:#666}
.container_contents .ListInfo .btn{position:absolute;bottom:0px;right:0}
/*.container_contents .ListInfo .btn a{overflow:hidden;display:inline-block;height:20px;vertical-align:top;margin-right: 6px;}*/
.container_contents .ListInfo span{font-size:12px;color:#666}
.container_contents .ListInfo span.point_txt{color:#fe7a10;font-weight:bold}

.paginate{padding:20px 0 1px 0;line-height:normal;text-align:center}
.paginate a:hover,.paginate a:active,.paginate a:focus{background-color:#fff;color:#000;font-weight:bold}


.footer_btn_area{position:relative;padding-top:10px;*zoom:1}
.footer_btn_area:after{display:block;clear:both;content:''}
.footer_btn_area .area_l{float:left}
.footer_btn_area .area_r{float:right}

.star_score{position:relative;vertical-align:middle;text-align:center;*zoom:1}
.star_score:after{display:block;clear:both;content:''}
.star_score a{text-decoration:none}
.point_star{float:left;width:48px;height:7px;}
.point_star span {overflow:hidden;position:absolute;left:0;top:0;display:block;height:7px;font-size:0;line-height:0}


.my_product{overflow:hidden;position:relative;height:48px;text-align:left;*zoom:1}
.my_product:after{display:block;clear:both;content:''}
.my_product dt{overflow:hidden;float:left;width:48px;height:48px;padding:0 10px 0 5px}
.my_product dt img{width:48px;height:48px}
.my_product dd{overflow:hidden;margin-left:63px;padding-right:5px;color:#666}
.my_product dd a:hover{text-decoration:underline;color:#666}
.my_product dd a:hover .pd_brand,.my_product dd a:hover .pd_name{color:#666}
.my_product dd a:hover .pd_option{color:#999}
.my_product dd span{display:block;line-height:15px;color:#666}
.my_product dd a{display:block;vertical-align:top;cursor:pointer}
.my_product .pd_brand{height:14px;padding-top:3px;font-weight:bold}
.my_product .pd_name{overflow:hidden;height:14px;white-space:nowrap;text-overflow:ellipsis;}
.my_product .pd_option{height:14px;color:#999;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

.my_product_type{overflow:hidden;position:relative;width:140px;text-align:center;*zoom:1}
.my_product_type:after{display:block;clear:both;content:''}
.my_product_type dt{width:140px;height:140px;padding-bottom:15px}
.my_product_type dt img{width:140px;height:140px}
.my_product_type dd{overflow:hidden;margin-bottom:2px;color:#666}
.my_product_type dd a:hover{text-decoration:underline;color:#666}
.my_product_type dd a:hover .pd_brand,.my_product dd a:hover .pd_name{color:#666}
.my_product_type dd a:hover .pd_option{color:#999}
.my_product_type dd span{color:#666}
.my_product_type .pd_brand a{height:14px;font-weight:bold}
.my_product_type .pd_name{overflow:hidden;height:12px}
.my_product_type .pd_price{height:12px;color:#666;font-family:'Hiragino Sans GB','microsoft yahei',arial,sans-serif;}
.my_product_type .pd_price .org_price{display:inline-block;padding:0 3px;line-height:12px;font-family:'Hiragino Sans GB','microsoft yahei',arial,sans-serif;}
.my_product_type .pd_price .now_price{display:inline-block;padding:0 3px;line-height:12px;color:#333333}


.interest_wrap{overflow:hidden;position:relative;padding-bottom:18px;border-bottom:1px solid #d3d3d3;*zoom:1}
.interest_wrap:after{display:block;clear:both;content:''}
.interest_wrap ul{position:relative;margin-left:-5px;*zoom:1}
.interest_wrap ul:after{display:block;clear:both;content:''}
.interest_wrap ul li{float:left;padding-left:28px}
.interest_wrap ul li a{display:block;vertical-align:top;cursor:pointer}

.interest_brand_wrap{overflow:hidden;position:relative;height:167px;padding:15px;background:#ececec;*zoom:1}
.interest_brand_wrap:after{display:block;clear:both;content:''}
.interest_brand_wrap .interest_brand_inner{overflow:hidden;position:relative;width:659px;}
.interest_brand_wrap ul{position:relative;margin:-1px 0 0 -16px;*zoom:1}
.interest_brand_wrap ul:after{display:block;clear:both;content:''}
.interest_brand_wrap ul li{float:left;padding-left:16px}
.interest_brand_wrap dl.interest_brand{width:172px;height:41px;padding-left:37px;border-top:1px solid #ececec;background-color:#fff;*zoom:1}
.interest_brand_wrap dl.interest_brand:after{display:block;clear:both;content:''}
.interest_brand_wrap dl.interest_brand dt{float:left;text-align:left;vertical-align:middle}
.interest_brand_wrap dl.interest_brand dt span{overflow:hidden;display:block;width:1px;height:1px;margin:-1px 0;font-size:0;line-height:0}
.interest_brand_wrap dl.interest_brand dd{float:left}
.interest_brand_wrap dl.interest_brand dt.brand_logo{width:117px;height:36px;padding-top:5px}
.interest_brand_wrap dl.interest_brand dt.brand_logo a{display:block;height:41px}
.interest_brand_wrap dl.interest_brand dd.brand_update{padding-top:15px}
.interest_no_data{height:106px;padding-top:110px;text-align:center}


.info_image_box{position:relative}
.info_img_step{width:689px;height:434px;}

.order_retun_step{position:relative;width:100%;z-index:100}
.order_retun_step .policy_go{display:inline-block;position:absolute;width:70px;height:16px}
.order_retun_step .policy_go a{position:relative;overflow:hidden;display:block;width:100%;height:16px;cursor:pointer;font-size:0;line-height:0}
.order_retun_step .step1{display:block;position:relative;height:128px}
.order_retun_step .step1 .policy_go{right:225px;bottom:15px;}
.order_retun_step .step2{display:block;position:relative;height:128px}
.order_retun_step .step2 .policy_go{right:62px;bottom:-5px;*bottom:21px;}
.order_retun_step .step3{display:block;position:relative;height:157px}
.order_retun_step .step3 .policy_go{right:50px;bottom:13px;*bottom:35px;}

.product_wrap{position:relative}
.product_box{position:relative;padding:30px 0 10px 0px}
.product_box .pd_lst{position:relative;left:13px;*zoom:1}
.product_box .pd_lst:after{display:block;clear:both;content:''}
.product_box .pd_lst li{float:left;position:relative;padding:10px 40px 0 40px}
.product_box .pd_lst .pd{position:relative;width:124px;height:195px;margin:0px 0 0 -40px;text-align:center}
.product_box .pd_lst .pd dt{position:relative;width:124px;height:124px;margin-bottom:5px}
.product_box .pd_lst .pd dt a.active{display:block;width:120px;height:120px;padding:1px;border:1px solid #A5A5A5}
.product_box .pd_lst .pd dt:hover a.active{padding:0;border:2px solid #aea998}
.product_box .pd_lst .pd dt a.active img{width:120px;height:120px}
.product_box .pd_lst .pd dt .btn_Func{display:none;position:absolute;bottom:0;left:50%;margin-left:-25px}
.product_box .pd_lst .pd dt:hover .btn_Func{display:block}	
.product_box .pd_lst .pd dt .btn_Func .btns{overflow:hidden;position:relative;width:49px;height:33px;*zoom:1}
.product_box .pd_lst .pd dt .btn_Func .btns:after{display:block;clear:both;content:''}
.product_box .pd_lst .pd dt .btn_Func .btns li{float:left;position:relative;height:33px;padding:0px;background-color:#fff}
.product_box .pd_lst .pd dt .btn_Func .btns li:hover{z-index:100}
.product_box .pd_lst .pd dt .btn_Func .btns .btn_view{z-index:90}
.product_box .pd_lst .pd dt .btn_Func .btns .btn_cart{z-index:80}
.product_box .pd_lst .pd dt .btn_Func .btns .btn_view .btn{overflow:hidden;display:block;width:24px;height:21px}
.product_box .pd_lst .pd dt .btn_Func .btns .btn_view .btn:hover img{margin-top:-22px}
.product_box .pd_lst .pd dt .btn_Func .btns .btn_cart .btn{overflow:hidden;display:block;width:23px;height:21px;padding-left:1px;border-left:1px solid #d2d0cb}
.product_box .pd_lst .pd dt .btn_Func .btns .btn_cart .btn:hover img{margin-top:-22px}
.product_box .pd_lst .pd dt .btn_Func .btns li .new_window{overflow:hidden;position:absolute;bottom:0;left:0;width:49px;height:13px;cursor:default}
.product_box .pd_lst .pd dt .btn_Func .btns .btn_view .new_window{display:block}
.product_box .pd_lst .pd dt .btn_Func .btns .btn_view .new_window img{margin-top:0}
.product_box .pd_lst .pd dt .btn_Func .btns .btn_cart .new_window{display:none;left:-24px}
.product_box .pd_lst .pd dt .btn_Func .btns .btn_cart .new_window img{margin-top:-14px}
.product_box .pd_lst .pd dt .btn_Func .btns .btn_cart:hover .new_window{display:block !important}
.product_box .pd_lst .pd dd{position:relative;line-height:16px}
.product_box .pd_lst .pd dd.pd_data_info span{display:block}
.product_box .pd_lst .pd dd.pd_data_info .pd_brand{overflow:hidden;height:15px;font-weight:bold;color:#7B6B54}
.product_box .pd_lst .pd dd.pd_data_info .pd_name{overflow:hidden;height:28px;line-height:14px}
.product_box .pd_lst .pd dd.pd_price_info{margin-top:2px}
.product_box .pd_lst .pd dd.pd_price_info a{display:inline-block}
.product_box .pd_lst .pd dd.pd_price_info .pd_price{margin-right:5px;padding-top:1px;color:#467079;font-weight:bold;vertical-align:top}
.product_box .pd_lst .pd dd.pd_price_info .pd_zoom{}


.btnR{float:right}
.btnR a{margin:0 4px}
.btnC{text-align:center;}
.btnC a{margin:0 4px}
.reviewBottom{height:87px;border-top:1px solid #b0b0b0;background:#dcdcdc;position:relative}
.reviewBottom div{padding:20px 0 0 185px}

.text_area{margin:7px 0 0 0;}
.text_area textarea{border:1px solid;border-color:#bbb #e0e0e0 #e0e0e0 #bbb;width:657px;height:187px;overflow-y:scroll}
.pr{position:relative}
.btnC{text-align:center;padding:10px 0 33px 0;}
.btnC a{margin:0 4px}

.h18{height:18px;}
.pt0{padding-top:0 !important}
.pt3{padding-top:3 !important}
.pt8{padding-top:8px !important}
.pb8{padding-bottom:8px !important;color:#8b8b8b;}
.vt{vertical-align:top !important;}
.inputR{width:13px;height:13px;padding:0;margin:0}
.bestReview{width:628px;height:24px;overflow:hidden;color:#fff;line-height:26px;padding:0 12px 0 17px;border:1px solid #292929;background:#3d3d3d;position:relative;top:-1px;}
.bestReview:after{content:'';display:block;clear:both;}
.bestReview .best_fl{font-size:12px;float:left;width:350px;padding-left:15px;letter-spacing:-1px;}
.bestReview .best_fl .moreView{font-size:11px;color:#b7b7b7;text-decoration:underline;display:inline-block;padding:0 7px 0 3px;position:relative;top:-1px;}
.bestReview .best_fl span{letter-spacing:0;color:#fff;font-size:12px;}
.bestReview .best_fl strong.yellow{color:#fff244;}
.bestReview .best_fr{font-size:11px;float:right;}
.bestReview .best_fr strong{color:#fff244;}

.container_myMain_header .mypage_myLevel.snsMember{background:url('/public/images/bg_mymain_level.png') 0 0 no-repeat;text-align:center;padding-top:50px;height:150px;}
.container_myMain_header .mypage_myLevel.snsMember .my_photo{width:66px;height:66px;margin:18px auto;border-radius: 5px;overflow: hidden;position: relative;}
.container_myMain_header .mypage_myLevel.snsMember .mask {display: none;cursor: pointer;text-align: center;width:66px;height:66px;position: absolute;top:0;left:0;z-index: 20000;background-color:#333;opacity: .8;color: #fff}
.container_myMain_header .mypage_myLevel.snsMember .mask i {
	display: inline-block;
	margin-top: 15px;
	font-size: 28px;
	color: #fff;
}
.container_myMain_header .mypage_myLevel.snsMember .my_photo img{width:66px;height:66px;}
.container_myMain_header .mypage_myLevel.snsMember .my_photo_mask{position:absolute;top:0;left:0;}
.container_myMain_header .sns_user_name{font-weight:bold;color:#555;zoom:1;margin:20px 0 0 20px;}
.container_myMain_header .user_company{margin:15px 0 0 20px;}

.tdMainPhoto{
	width: 60px;
	height: 60px;
}
/*---------------------表单页面的样式------------------------*/
.form_line {
	margin-top: 15px;
	margin-bottom: 15px;
}
.form_line .lbl {
	display: table-cell;
	width: 80px;
	padding-right: 15px;
	line-height: 24px;
	text-align: right;
}
.form_line .controls {
	display: table-cell;
}
.form_line .controls .inputText {
	padding: 4px;
	line-height: 18px;
	height: auto;
}
.form_line .controls select {
	min-width: 100px;
	border: 1px solid #999;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	padding: 3px 0;
	color: #999;
}
.form_line .controls select option {
	height: 20px;
	line-height: 20px;
	font-size: 13px;
}
.errorurl {
	color: #EB5635;
	line-height: 2em;
	margin-top: 5px;
	display: none;
}
.form_line .controls .select {
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	padding: 3px 0;
	margin-right: 30px;
}
.form_line .controls .inputText.long{
	width: 400px;
}
.button_section{
	margin-top: 40px;

}
/*.btnStd{
	display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #D9D9D9;
    background-color: #FFCE00;
}
.btnStd:hover{
	color: #fff;
	background-color: #848381;
}*/
.mt3 {
	display: inline-block;
	line-height: 24px;
}
.mr10 {
	display: inline-block;
	margin-right: 10px;
}
.ml10 {
	margin-left:10px;
}
.ml30 {
	margin-left: 30px;
}
.ml50 {
	margin-left: 50px;
}
.pt10{
	padding-top: 10px;
}
.pl10 {
	padding-left: 10px;
}
.mt30 {
	margin-top: 30px;
}
input::-webkit-input-placeholder { /* WebKit browsers */
  line-height: 1.4em;
}

.no_more_data{
  padding: 4px 0;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-bottom:1px solid #ececec;
  border-top: 1px solid #ececec;
  display: none  
}
/* 背景颜色值 */
.markedred{/* 醒目红*/
	background-color: #F4614D;
	color: #fff
}
/* 功能栏常用样式 */
.funbar_region{
	float:right;margin-bottom:5px;
	/*margin-right: 6px;*/
}
.funbar_region:after{
	display: block;
  	clear: both;
  	content: "";
}
/*.funbar_region .btn{
	float: right;
	border: 1px solid #D9D9D9;
	line-height: 26px;
	padding: 0 20px;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	text-align: center;
	border: 1px solid #ccc
}*/

/*.funbar_region .btn:hover{
	background-color: #7d7d7d;
	color: #FFF;
}*/
.clearFix{clear:both}