#{extends 'UserCenter/user-frame.html' /}
#{set title:'代发运费模板管理' /}
#{set 'moreSubStyles'}
<link href="@{'/public/stylesheets/freight.css'}" rel="stylesheet" type="text/css" />
#{/set}
<div class="cont_mypage" style="margin-top:30px" id="container">
	<div class="container_contents container_myMain_contents">
		<div style="margin-top:0px;">
			<div class="column_left">
				<h3>
					运费模板管理
					<a href="javascript:void(0)" class="btnStd btnMedium" id="CreateBtn" style="float:right">创建运费模板</a>
				</h3>
			</div>
		</div>
		#{authenticityToken/}
		<div class="tbl_wrap_type02" id="freightTempList"></div>
	</div>
	<!-- //	cont_mypage -->
</div>
<textarea class="muban" id="staticFreightTemp" style="display:none">
	{{#temp}}
	<div class="freightTemp">
		<input type="hidden" value="update" name="modifyType">
		<input type="hidden" value="static" name="tempType">
		<h4 class="pl10">
			模板名称：
			<input type="text" class="inputText titleName" value="{{tempName}}" maxlength="20" readonly="true" style="border:1px solid #fff" />
			<input class="inputText" name="tempId" value="{{_id}}" type="hidden" />
			<span class="freightType ml10">模板类型：静态</span>
			<a href="javascript:void(0)" class="extendbtn mr20">
				<i class="iconfont down">&#xe627;</i>
			</a>
		</h4>
		<div class="extendcontent">
			<table class="tbl_type01 tbHoverable">
				<thead>
					<tr>
						<th>
							<div class="thcell">地区</div>
						</th>
						<th>
							<div class="thcell">价格(元)</div>
						</th>
					</tr>
				</thead>
				<tbody>
					{{#freights}}
					<tr>
						<td>
							<div class="tdcell">
								<div class="province">{{provincesName}}</div>
								<input type="hidden" name="provinceId" value="{{provincesStr}}"></div>
						</td>
						<td>
							<div class="tdcell">
								<input type="text" class="inputText short priceitem" name="price" value="{{priceStr}}" maxlength="5"/>
								<i class="iconfont icondelbtn">&#xe606;</i>
							</div>
						</td>
					</tr>
					{{/freights}}
				</tbody>
			</table>
			<a href="javascript:void(0)" class="btnStd btnSmall fr ml4 delbtn">删除</a>
			<a href="javascript:void(0)" class="btnStd btnSmall fr submitbtn">保存</a>
		</div>
	</div>
	{{/temp}}
</textarea>
<textarea class="muban" id="dynamicFreightTemp" style="display:none">
	{{#temp}}
	<div class="freightTemp">
		<input type="hidden" value="update" name="modifyType">
		<input type="hidden" value="dynamic" name="tempType">
		<h4 class="pl10">
			模板名称：
			<input type="text" class="inputText titleName" value="{{tempName}}" maxlength="20" readonly="true" style="border:1px solid #fff" />
			<input class="inputText"  name="tempId"  value="{{_id}}" type="hidden" />
			<span class="freightType ml10">模板类型：动态</span>
			<a href="javascript:void(0)" class="extendbtn mr20">
				<i class="iconfont down">&#xe627;</i>
			</a>
		</h4>
		<div class="extendcontent">
			<table class="tbl_type01 move tbHoverable">
				<thead>
					<tr>
						<th class="width240">
							<div class="thcell">地区</div>
						</th>
						<th>
							<div class="thcell">首重(kg)</div>
						</th>
						<th>
							<div class="thcell">首重价格(元)</div>
						</th>
						<th>
							<div class="thcell">续重(kg)</div>
						</th>
						<th>
							<div class="thcell">续重价格(元)</div>
						</th>
					</tr>
				</thead>
				<tbody>
					{{#freights}}
					<tr>
						<td class="width240">
							<div class="tdcell">
								<div class="province">{{provincesName}}</div>
								<input type="hidden" name="provinceId" value="{{provincesStr}}"></div>
						</td>
						<td>
							<div class="tdcell">
								<input type="text" class="inputText short firstWeight" name="weight" value="{{firstWeight}}" maxlength="5"/>
							</div>
						</td>
						<td>
							<div class="tdcell">
								<input type="text" class="inputText short firstPrice" name="price" value="{{fwPriceStr}}" maxlength="5"/>
							</div>
						</td>
						<td>
							<div class="tdcell">
								<input type="text" class="inputText short nextWeight" name="weight" value="{{addedWeight}}" maxlength="5"/>
							</div>
						</td>
						<td>
							<div class="tdcell">
								<input type="text" class="inputText short nextPrice" name="price" value="{{awPriceStr}}" maxlength="5"/>
								<i class="iconfont icondelbtn">&#xe606;</i>
							</div>
						</td>
					</tr>
					{{/freights}}
				</tbody>
			</table>
			<a href="javascript:void(0)" class="btnStd btnSmall fr ml4 delbtn">删除</a>
			<a href="javascript:void(0)" class="btnStd btnSmall fr submitbtn">保存</a>
		</div>
	</div>
	{{/temp}}
</textarea>
<div class="popWrapper" id="addProvence">
	<div class="popWndFrame" style="min-width:770px">
		<div class="modalWnd" tr-url="" id="addProvenceWndWrapper">
			<a href="javascript:;" class="wnd_Close_Icon" title="关闭窗口">
				<i class="iconfont mr10">&#xe60c;</i>
			</a>
			<div class="modalWndInner">
				<input type="hidden" name="province">
				<div class="chooseList" id="chooseList">
					<h3>已选择省份</h3>
					<ul></ul>
				</div>
				<div class="leaveList" id="leaveList">
					<h3>未选择省份</h3>
					<ul></ul>
				</div>
			</div>
			<div class="wndBotButtonSection">
				<a id="btnProvence" href="javascript:void(0)" class="btnStd btnLarge btnYellow-shadow trSubmit">确认</a>
			</div>
		</div>
	</div>
</div>
<div class="popWrapper" id="addFreight">
	<div class="popWndFrame">
		<div class="modalWnd" tr-url="" id="addFreightWndWrapper">
			<a href="javascript:;" class="wnd_Close_Icon" title="关闭窗口">
				<i class="iconfont mr10">&#xe60c;</i>
			</a>
			<div class="modalWndInner">
				<form id="frmEditBrand">
					#{authenticityToken/}
					<div class="column_left">
						<h3>添加运费模板</h3>
					</div>
					<div class="form_line">
						<label class="lbl">模板名称</label>
						<div class="controls">
							<input class="inputText" id="txtTitle" type="text" value="" name="freight.name" maxlength="20"/>
						</div>
						<div for="txtTitle" class="validateLine clearfix"></div>
					</div>
					<div class="form_line">
						<label class="lbl">模板类型</label>
						<div class="controls">
							<ul>
								<li>
									<input type="radio" value="static" name="freight.type" maxlength="20"/>
									静态设置（同一地区使用统一费用）
								</li>
								<li class="mt4">
									<input type="radio" value="dynamic" name="freight.type" checked="true" maxlength="20"/>
									动态计算（根据商品重量，首重，续重）
								</li>
							</ul>

						</div>
					</div>
				</form>
			</div>
			<div class="wndBotButtonSection">
				<a id="btnFreight" href="javascript:void(0)" class="btnStd btnLarge btnYellow-shadow trSubmit">确认</a>
			</div>
		</div>
	</div>
</div>
<!-- //content-area -->
#{set 'moreSubScripts'}
<script src="@{'/public/javascripts/libs/mustache.min.js'}" type="text/javascript"></script>
<script type="text/javascript" src="/public/javascripts/bizComponents/supplier/freight.js"></script>
<script type="text/javascript">APP.QnDomain = '${upload_domain}';App.module = 'freight';</script>
#{/set}