		*{ 这是供应商的user登录进来后看到的菜单 }*
		<!-- hd_mysnbMenu -->		
		<div class="hd_mysnbMenu" style="margin-top:200px;">
			<div class="mysnbMenu" style="border:0px;">
				<div class="container_body">
					<div class="container_left">
						<div class="mypage_menu">
							<h2>
								<span>商品</span>
							</h2>
							<ul>
								<li class="category_01">
									<a href="/supplier/item/list" class="navLink" module="itemList">商品列表</a>
								</li>
								<li>
									<a href="/supplier/item/edit" class="navLink" module="itemEdit">发布商品</a>
								</li>
								<!-- <li>
									<a href="/supplier/cateList" class="navLink" module="cateList">自定义类目管理</a>
								</li> -->
								<li>
									<a href="/supplier/freight" class="navLink" module="freight">运费模板管理</a>
								</li>
							</ul>
							<h2>
								<span>账户/安全</span>
							</h2>
							<ul>
								<li class="category_01">
									<a href="/supplier/edit" class="navLink" module="supplierEdit">修改信息</a>
								</li>
								<li>
									<a href="/user/edit/pass" class="navLink" module="editPass">修改密码</a>
								</li>
							</ul>
						</div>
						<div class="cs_center">
							<h2 class="cs_tit">服务中心</h2>
							<ul class="cs_lst">
								<li>
									<a href="/help" class="faq">
										<span>FAQ</span>
									</a>
								</li>
								<li>
									<a href="#" class="qna">
										<span>我要提问</span>
									</a>
								</li>
							</ul>
						</div>
						*{
						<div class="cs_center_tel">
							<img src="/public/images/img/cs_center_tel.png" alt=""/>		
						</div>
						}*
					</div>
				</div>
			</div>
		</div>