#{extends './user-frame.html' /}
#{set title:'店铺授权' /}
#{set 'moreSubStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/authorize.css'}"  />
#{/set}
<div class="cont_mypage" style="margin-top:30px" id="container">
	<div class="container_contents container_myMain_contents">
		#{if false}
		<div class="bannerimg">
			<a href="#" target="_blank">
				<img src="/public/images/img/121023_powermypagebanner_700.jpg"/></a>
		</div>
		#{/if}
		<div style="margin-top:0px;">
			<div class="column_left" style="padding-top:20px;">
				<h3>店铺授权</h3>
			</div>
		</div>
		<div class="tbl_wrap_type02 pt20">
			<div class="error_panel" style="padding-left: 198px;color: #f00;line-height: 33px">
				${flash?.error}
			</div>
			<div class="discribe">
				<p>授权后商品信息可以直接一键上传到淘宝/天猫店铺中，并放置在仓库里以供修改或上架</p>
			</div>
			<div class="authorize_detail">
				<div class="detail_line">
					<span class="dtname">店铺名称</span>
					<div class="dtcont"><span>XXX专营店</span></div>
				</div>
				<div class="detail_line">
					<span class="dtname">淘宝昵称</span>
					<div class="dtcont"><span>biweid78102</span></div>
				</div>
				<div class="detail_line">
					<span class="dtname">店铺LOGO</span>
					<div class="dtimg"><span><img src="/public/images/img/logo-top.png" /></span></div>
				</div>
				<div class="detail_line">
					<span class="dtname">店铺类型</span>
					<div class="dtcont"><span>天猫</span></div>
				</div>
				<div class="detail_line">
					<span class="dtname">绑定时间</span>
					<div class="dtcont"><span>2016-01-01 11:11:11</span></div>
				</div>
				<div class="cancel">
					<a href="">取消授权</a>
				</div>
			</div>

			<div class="authorize_detail noauth">
				<p>还没有授权</p>
				<div class="cancel left">
					<a href="">点击授权</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //	cont_mypage -->
</div>
<!-- //content-area -->
#{set 'moreSubScripts'}
<script src="@{'/public/javascripts/libs/mustache.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/libs/jquery.validate.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/validate.plus.js'}" type="text/javascript"></script>
<script type="text/javascript" src="/public/javascripts/bizComponents/retailer/authorize.js"></script>
<script type="text/javascript">APP.QnDomain = '${upload_domain}';App.module = 'authorize';</script>
#{/set}