#{extends 'main.html' /}
#{set title:'购物车' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/checkout.css'}" rel="stylesheet" type="text/css">
#{/set}
<div class="container"> 
#{authenticityToken/}
    <div class="check-out">
        <h1>购物车<a href="javascript:void(0)" id="editCount" >编辑数量</a></h1>
        <form action="" method="post">
            <table>
                <thead>
                    <tr>
                        <th>
                            <div id="J_SelectAll1" class="select-all J_SelectAll">
                                <div class="cart-checkbox">
                                    <input class="J_CheckBoxShop" id="J_SelectAllCbx1" type="checkbox"  name="select-all" value="true">
                                    <label for="J_SelectAllCbx1">&nbsp;&nbsp;全选</label>
                                </div>
                            </div>
                            <div class='cart-goodinfo' >
                                商品信息
                            </div>
                        </th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>总价</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="cartContainer">

                  
                </tbody>
            </table>
            <div class="check-total">
                <ul>
                    <li>已选商品<span class='check-count'>0</span>件</li>
                    <li>合计 ¥<span class='check-trans-rmb'>0</span></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="check-foot">
                <a href="/" class=" go-shopping">继续购物</a><a  class=" to-buy">下单</a>
            </div>
        </form>
        <div class="clearfix"> </div>
    </div>
</div>
#{set 'moreScripts'}
<script src="@{'/public/javascripts/libs/mustache.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/bizComponents/cart.js'}" type="text/javascript"></script>
#{/set}