#{extends 'main.html' /} #{set title:'确认订单' /} #{set 'moreStyles'}
<link href="@{'/public/stylesheets/orstyle.css'}" rel="stylesheet" type="text/css">
<link href="@{'/public/stylesheets/common/amazeui.css'}" rel="stylesheet" type="text/css">
<style>
    td,th{
        padding: 5px 10px;
    }
</style>
#{/set}
<div class="container" style="width: 970px;margin:0 auto">
    <div class="col-sm-1"></div>
    <div class="col-sm-10 cart_box">
        <div class="main_tit">
            确认订单信息
            <span style="float: right"><a class="goBack">删除订单</a>
            </span>
        </div>
        <div>订单号:<span id="tradeId">${tradeId}</span></div>
        <form id="payForm" method="post" target="_blank" action="/retailer/fee/pay">
            #{authenticityToken/}
            <h3 class="bar_tit">1、收货信息</h3>

            <div class="line20"></div>
            <div class="order-addresslist" id="${addr.id}">
                <div class="order-address">
                    <div class="icon-add">
                    </div>
                    <p class="new-tit new-p-re">
                        <span class="new-txt" id="user-name">${addr.name}</span>
                        <span class="new-txt-rd2" id="user-phone">${addr.phone}</span>
                    </p>
                    <div class="new-mu_l2a new-p-re">
                        <p class="new-mu_l2cw">
                            <span class="title">收货地址：</span>
                            <span class="provinceId" style="display:none">${addr.provinceId}</span>
                            <span class="province">${addr.province}</span>省
                            <span class="city">${addr.city}</span>市
                            <span class="dist">${addr.region}</span>区
                            <span class="street">${addr.address}</span>
                        </p>
                    </div>
                </div>
                <!-- a class="otherAdd" >使用其他地址</a> -->
                <a class="otherAdd" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 400}">
                    使用其他地址
                </a>

            </div>
            <div class="clearfix"></div>
            <h3 class="bar_tit">2、支付方式</h3>
            <div class="line20"></div>
            <ul class="item_box">
                <li>支付宝</li>
            </ul>
            <h3 class="bar_tit">3、物流方式</h3>
            <div class="line20"></div>
            <ul class="item_box">
                <li>
                    <label>
                        <input name="express_id" type="radio" onclick="FreightAmountTotal(this);" class="expressText" value="2" datatype="*" sucmsg=" "><span>易优</span>
                        <span>费用：￥</span>
                        <span class="Validform_checktip">14</span>
                    </label>
                </li>
                <li>
                    <label>
                        <input name="express_id" type="radio" onclick="FreightAmountTotal(this);" class="expressText" value="3" datatype="*" sucmsg=" "><span>阳关清关</span>
                        <span>费用：￥</span>
                        <span class="Validform_checktip">14</span>
                    </label>
                </li>
            </ul>
            <h3 class="bar_tit">4、商品清单</h3>
            <div class="line20"></div>
            <table border="0" align="center" cellpadding="8" cellspacing="0" class="cart_table">
                <thead>
                    <tr>
                        <th width="64">图片</th>
                        <th align="left">商品名称</th>
                        <th width="210" align="center">分类</th>
                        <th width="80" align="center">单价</th>
                        <th width="80" align="center">数量</th>
                        <th width="100" align="center">金额小计</th>
                    </tr>
                </thead>
                <tbody id="stepContainer">
                    #{list items:cartList, as : 'cart'}
               
                    <tr mid="${cart.id}">
                        <td>
                            <a target="_blank" href="single.html">
                                <img src="${cart.picUrl}" class="img">
                            </a>
                        </td>
                        <td><a target="_blank" href="single.html" class="cartTitle">${cart.brand.name+'['+cart.title+']'}</a>
                        </td>
                        <td align="center" class="cartColor">
                            ${cart?.skuColor}
                        </td>
                        <td align="center">￥
                            <span class="cartPrice">${cart.retailPrice}</span>
                        </td>
                        <td align="center" class="cartCount">${cart.cartCount}</td>
                        <td align="center">
                            <font color="#FF0000" size="2">￥
                                <label name="real_amount">${cart.cartPrice}</label>
                            </font>
                        </td>
                    </tr>
                    #{/list}
                </tbody>
            </table>
            <h3 class="bar_tit">5、结算信息</h3>
            <div class="line20"></div>
            <div>
                <div class="left">
                    <h5>订单留言
                        <span>字数控制在100个字符内</span>
                    </h5>
                    <textarea name="message" id="comment" class="input" style="width:100%;height:70px;"></textarea>
                </div>
                <div class="right" style="text-align:right;line-height:40px;">
                    商品件数：
                    <font color="#FF0000" id="cartNum">${totalCount}</font>件 
                    商品金额：
                    <font color="#FF0000">￥
                        <label id="goods_amount">${totalCartPrice}</label>
                    </font>+ 运费：
                    <font color="#FF0000">￥
                        <label id="express_fee">0</label>
                    </font>
                    <br>
                    <b class="font18">应付总金额：<font color="#FF0000">￥<label id="order_amount"></label></font></b>
                    <input id="txtFee" type="hidden" name="fee" value="" />
                </div>
            </div>
            <div class="line20"></div>
            <div class="right">
                <a id="btnSubmit" class="btn btn-success marL10">付款</a>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div class="am-modal am-modal-no-btn " id="doc-modal-1"style="background-color:#FFF">
        <div class="add-dress" >
            <!--标题 -->
            <div class="am-cf am-padding">
                <div class="am-fl am-cf">
                    <strong class="am-text-danger am-text-lg">其他地址</strong>/
                    <small>Other&nbsp;address</small>
                </div>
            </div>
            <hr/>
            <div class="am-u-md-12 am-u-lg-8" >
                <select class="select" name="" id="addressSelects" style="width:360px;">
                    <option value="others">其他</option>
                </select>
            </div>
            <div class="am-form-group">
                <div class="am-u-sm-9 am-u-sm-push-2" style="margin-top:20px" id="btnSubmitAdd">
                    <a class="am-btn am-btn-danger btnSave" data-am-modal-confirm>保存</a>
                    <a href="javascript: void(0)" class="am-btn am-btn-danger closePopUp" data-am-modal-close>取消</a>
                </div>
            </div>
        </div>
    </div>
</div>
#{set 'moreScripts'}
<script src="@{'/public/javascripts/libs/amazeui.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/libs/mustache.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/bizComponents/stepTwo.js'}" type="text/javascript"></script>
#{/set}
