#{extends 'main.html' /}
#{set 'moreStyles'}
  <link href="@{'/public/stylesheets/common/admin.css'}" rel="stylesheet" type="text/css">
  <link href="@{'/public/stylesheets/common/amazeui.css'}" rel="stylesheet" type="text/css">
  <link href="@{'/public/stylesheets/personal.css'}" rel="stylesheet" type="text/css">
  <link href="@{'/public/stylesheets/vipstyle.css'}" rel="stylesheet" type="text/css">
#{get 'moreSubStyles' /}
#{/set}
<div class="center" style="max-width: 1200px;">
    <div class="col-main">
		<!-- content-area -->
		<div class="main-wrap">
        <div class="wrap-list">
					#{if user?.role == 'RETAILER'}
						#{include '/RetailerController/summary.html' /}
					#{/if}
					#{if user?.role == 'SUPPLIER'}
						#{include '/SupplierController/summary.html' /}
					#{/if}
					
			</div>
			#{doLayout /}
			<div class="clear"></div>
		</div>
		<!-- //contentCenter -->
	</div>
	<!-- navigation -->
	#{if user?.role == 'RETAILER'}
		#{include '/RetailerController/navigator.html' /}
	#{/if}
	#{if user?.role == 'SUPPLIER'}
		#{include '/SupplierController/navigator.html' /}
	#{/if}
</div>
#{set 'moreScripts'}
<script src="/public/javascripts/libs/amazeui.js"></script>
<script type="text/javascript" src="/public/javascripts/frame.js"></script>
#{get 'moreSubScripts' /}
#{/set}