#{extends './manage-frame.html' /}
#{set title:'活动管理' /}
<div class="cont_mypage container_body" style="margin-top:30px" id="container">
	<div class="container_contents container_myMain_contents">
		<div style="margin-top:0px;">
			<div class="column_left">
				<h3>活动管理
				<a class="createbtn" id="activityCreateBtn" style="float:right">创建</a></h3>
			</div>
		</div>
		<input type="hidden" id="hidBrandId" value=""/> 
		<div class="tbl_wrap_type02 pt20" id="activityManageContainer" style="padding-top:0">
			#{authenticityToken/}
			<table summary="" class="tbl_type01 tbHoverable">
				<thead>
					<tr>
						<th class="thcellId">
							<div class="thcell">ID</div>
						</th>
						<th>
							<div class="thcell">活动名称</div>
						</th>
						<th class="thcell120">
							<div class="thcell">商品数目</div>
						</th>
						<th class="thcell120">
							<div class="thcell">状态</div>
						</th>
						<th class="thcelledit">
							<div class="thcell">操作</div>
						</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<div class="pagin-btm clearFix">
				<div class="pagination"></div>
			</div>
		</div>
		<div style="margin-top:50px;">
			<div class="column_left">
				<h3>h5活动管理
				<a class="createbtn" id="h5activityCreateBtn" style="float:right">创建</a></h3>
			</div>
		</div>
		<input type="hidden" id="hidBrandId" value=""/> 
		<div class="tbl_wrap_type02 pt20" id="h5activityManageContainer" style="padding-top:0">
			#{authenticityToken/}
			<table summary="" class="tbl_type01 tbHoverable">
				<thead>
					<tr>
						<th class="thcellId">
							<div class="thcell">ID</div>
						</th>
						<th>
							<div class="thcell">活动名称</div>
						</th>
						<th class="thcell120">
							<div class="thcell">商品数目</div>
						</th>
						<th class="thcell120">
							<div class="thcell">状态</div>
						</th>
						<th class="thcelledit">
							<div class="thcell">操作</div>
						</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<div class="pagin-btm clearFix">
				<div class="pagination" style="margin-top: 8px;padding-left:390px;"></div>
			</div>
		</div>
		<div class="popWrapper" style="display: none;" id="tr_loading_mask">
			<img class="tr_juhua" src="@{'/public/images/pre_loading.gif'}" />
		</div>
	</div>
</div>
<textarea class="muban" id="activityTemp" style="display:none">
	{{#results}}
	<tr mid="{{_id}}">
		<td class="thcellId">
			<div class="tdcell" style="text-align: center">{{_id}}</div>
		</td>
		<td>
			<div class="tdcell">{{title}}</div>
		</td>
		<td class="thcell120">
			<div class="tdcell">{{itemCount}}</div>
		</td>
		<td class="thcell120">
			<div class="tdcell">
				{{#isUse}}
					<i class="iconfont changeStatus" data-use="{{isUse}}" style="color: rgb(254, 207, 16);">&#xe620;</i>
				{{/isUse}}
				{{^isUse}}
					<i class="iconfont changeStatus" data-use="{{isUse}}">&#xe61f;</i>
				{{/isUse}}	
			</div>
		</td>
		<td class="thcelledit">
			<div class="tdcell">
				<a href="/sys/h5/activity/edit/{{_id}}" class="evaluate editbtn">编辑</a>
				<a href="javascript:;" class="evaluate delbtn">删除</a>
			</div>
		</td>
	</tr>
	{{/results}}
</textarea>
<textarea class="muban" id="h5activityTemp" style="display:none">
	{{#results}}
	<tr mid="{{_id}}">
		<td class="thcellId">
			<div class="tdcell" style="text-align: center">{{_id}}</div>
		</td>
		<td>
			<div class="tdcell">{{title}}</div>
		</td>
		<td class="thcell120">
			<div class="tdcell">{{itemCount}}</div>
		</td>
		<td class="thcell120">
			<div class="tdcell">
				{{#isUse}}
					<i class="iconfont changeStatus" data-use="{{isUse}}" style="color: rgb(254, 207, 16);">&#xe620;</i>
				{{/isUse}}
				{{^isUse}}
					<i class="iconfont changeStatus" data-use="{{isUse}}">&#xe61f;</i>
				{{/isUse}}	
			</div>
		</td>
		<td class="thcelledit">
			<div class="tdcell">
				<a href="/sys/h5/activity/edit/{{_id}}" class="evaluate editbtn">编辑</a>
				<a href="javascript:;" class="evaluate delbtn">删除</a>
			</div>
		</td>
	</tr>
	{{/results}}
</textarea>
#{set 'moreManaScripts'}
<script type="text/javascript" src="/public/javascripts/bizComponents/manage/activityManage.js"></script>
<script type="text/javascript">APP.QnDomain = '${upload_domain}';App.module = 'activityManage';</script>
#{/set}