#{extends './manage-frame.html' /}
#{set title:'商品列表' /}
#{set 'moreManaStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/common/jquery.pagination.css'}"  />
<style type="text/css">
.tbl_type01 td:first-child .tdcell {
    text-align: left;
}
</style>
#{/set}
<div class="container_body">
	<div class="container_contents " style="margin-top:5px">
		<h3 style="font-size:15px;color:#444;">商品列表</h3>
			<input type="hidden" value="" name="Gubun"/>
			<div class="search_area">
				<div class="search_box">
				<form id="searchForm">
					<div class="area_l">
						<span class="txt_type01">种类</span>
						<input type="text" class="text" style="width:140px;" value="" id="itemCate" name="itemCate" />
					</div>
					<div class="area_l">
						<span class="txt_type01">品牌</span>
						<input type="text" class="text" style="width:150px;" value="" id="brandKey" />
					</div>
					<div class="area_l">
						<span class="txt_type01">标题</span>
						<input type="text" class="text" style="width:140px;" value="" id="itemTitle" name="itemTitle" />
					</div>
					<div class="area_l">
						<span class="txt_type01">状态</span>
						<select class="text" style="width:140px;margin-top:1px;height: 22px" id="itemStatus">
							<option value="ONLINE" selected="true">--在架--</option>
							<option value="HIDE">--下架--</option>
						</select>
					</div>
					
					<div class="area_r">
						<div class="fl">
							<a href="javascript:;" class="btnStd btnMedium mr6" id="listSearchBtn">查询</a>
						</div>
					</div>
				</form>
				</div>
			</div>
		<!-- ListInfo -->
		<div class="ListInfo">
		#{authenticityToken/}
			<div class="btns">
				<a href="/sys/item/edit" class="floatRight btnStd btnMedium mr6" id="addBtn">发布商品</a>
				<a href="javascript:;" class="floatRight btnStd btnMedium mr6" id="deleteBtn">删除</a>
			</div>
		</div>
		<div class="tbl_wrap">
			<div class="tbl_wrap_type01" id="listContainer">
				<table summary="" class="tbl_type01">
					<thead>
						<tr>
							<th class="col" style="width:60px;">
								<div class="thcell" style="text-align: left;"><input type="checkbox" id="choolseAll" /><span class="ml10">全选</span></div>
							</th>
							<th scope="col">
								<div class="thcell">商品Id</div>
							</th>
							<th scope="col">
								<div class="thcell">种类</div>
							</th>
							<th scope="col">
								<div class="thcell">品牌</div>
							</th>
							<th scope="col">
								<div class="thcell">货号</div>
							</th>
							<th scope="col">
								<div class="thcell">主图</div>
							</th>
							<th scope="col">
								<div class="thcell">产品名称</div>
							</th>
							<th scope="col">
								<div class="thcell">原价</div>
							</th>
							<th scope="col">
								<div class="thcell">现价</div>
							</th>
							<th scope="col">
								<div class="thcell">操作</div>
							</th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
				<div class="pagin-btm clearFix">
					<div class="pagination"></div>
				</div>
				<div class="popWrapper" style="display: none;" id="tr_loading_mask">
					<img class="tr_juhua" src="@{'/public/images/pre_loading.gif'}" />
				</div>
			</div>
		</div>
		<!-- //Paginate -->
	</div>
</div>
<textarea class="muban" id="itemTemp" style="display:none">
	{{#results}}
	<tr mid="{{id}}">
		<td>
			<div class="tdcell">
				<input type="checkbox" class="iCheck" />	
			</div>
		</td>
		<td>
			<div class="tdcell">
				{{id}}
			</div>
		</td>
		<td>
			<div class="tdcell">
				{{cateId}}
			</div>
		</td>
		<td>
			<div class="tdcell">{{brandId}}</div>
		</td>
		<td>
			<div class="tdcell">{{outNo}}</div>
		</td>
		<td>
			<div class="tdcell">
				<a href="/item/{{id}}" target="_blank"><img src="{{picUrl}}?imageView2/2/w/60/q/100" class="tdMainPhoto" /></a>
			</div>
		</td>
		<td>
			<div class="tdcell"><a href="/item/{{id}}" target="_blank">{{title}}</a></div>
		</td>
		<td>
			<div class="tdcell">{{supplyPriceFormat}}元</div>
		</td>
		<td>
			<div class="tdcell">{{retailPriceFormat}}元</div>
		</td>
		
		<td>
			<div class="tdcell">
				<a href="/sys/item/edit?id={{id}}" target="_blank" class="btnStd btnSmall evaluate">编辑</a>
			</div>
		</td>
	</tr>
	{{/results}}
</textarea>
#{set 'moreManaScripts'}
<script src="@{'/public/javascripts/libs/mustache.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/libs/jquery.validate.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/validate.plus.js'}" type="text/javascript"></script>
<script type="text/javascript" src="/public/javascripts/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/public/javascripts/libs/qiniu.min.js"></script>
<script src="@{'/public/javascripts/libs/jquery.pagination.js'}" type="text/javascript"></script>
<script type="text/javascript" src="/public/javascripts/bizComponents/manage/itemList.js"></script>
<script type="text/javascript">APP.QnDomain = '${upload_domain}';App.module = 'itemList';</script>
#{/set}