#{extends './manage-frame.html' /}
#{set title:(item!=null?'商品编辑':'商品发布') /}
#{set 'moreManaStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/itemEdit.css'}"  />
#{/set}
<div class="cont_mypage" style="margin-top:30px" id="container">
	<div class="container_contents container_myMain_contents">
		<div style="margin-top:0px;">
			<div class="column_left" >
				<h3>${item?'编辑商品':'发布商品'}</h3>
			</div>
		</div>
		<div class="tbl_wrap_type02" style="padding-left: 30px;">
			<div class="error_panel" style="padding-left: 198px;color: #f00;line-height: 33px">
				${flash?.error}
			</div>
			<form action="/sys/item/save" id="formComm" method="post">
				#{authenticityToken/}
				<input class="inputText" type="hidden" value="${item?.id}" name="item.id"/>
				<div class="form_line">
					<label class="lbl">标题</label>
					<div class="controls">
						<input class="inputText long" id="txtTitle" type="text" value="${item?.title}" name="item.title" tabindex="1"/>
					</div>
					<div for="txtTitle" class="validateLine clearfix"></div>
				</div>
				<div class="form_line">
					<label class="lbl">类目</label>
					<div class="controls" id="T_cateControls">
						<input id="cateTxt" type="hidden" name="item.cateId" value="${item?.cate?.id}" /> 
						<span class="mt3 chooseCate" ${item?.cate?.id?"style='display:none'":""}>未选择</span>
						<div id="showCate" ${item?.cate?.id?"":"style='display:none'"}>
							<span class="mt3">${item?.cate?.name}</span>
							<i class="iconfont ml10" id="delCate">&#xe606;</i>
						</div>
					</div>
					<div for="cateTxt" class="validateLine clearfix" name="valcate"></div>
				</div>
				<div class="form_line">
					<label class="lbl" style="padding-top:5px;">规格(图片300*300)</label>
					<div class="controls" id="imgcontainer">
						#{if item&&item.skus}
							#{list items:item.skus,as : 'sku'}
							<div class="gg_container">
								<div class="controls" style="padding-top:5px;">
									<input class="inputText" id="txtColor_${sku_index-1}" type="text" value="${sku.color}" placeholder="分类" name="sku.color" />
								</div>
								<div for="txtColor_0" class="validateLine clearfix" name="valColor"></div>
								<div class="controls uploadImg">
									<div class="mask" id="T_adBanner_${sku_index-1}" img-container="img_${sku_index-1}" style="${item?'display: none':''}">
										<i class="iconfont mr10">&#xe632;</i>
										<input class="inputText" type="hidden" value="${sku.img}" name="sku.img"/>
									</div>
									<div class="itemImg" id="img_${sku_index-1}">
										<img src="${sku.img}"/> 
									</div>
								</div>
								<div for="hidPicUrl" class="validateLine clearfix" name="valImg"></div>
								<div class="controls" style="padding-top:5px;">
									<input class="inputText" id="txtQuantity_${sku_index-1}" type="text" value="${sku.quantity}" placeholder="库存" name="sku.quantity" />
								</div>
								<div for="txtQuantity_${sku_index-1}" class="validateLine clearfix"  name="valQuantity"></div>
							</div>
							#{/list}
						#{/if}
						#{else}
						<div class="gg_container">
							<div class="controls" style="padding-top:5px;">
								<input class="inputText" id="txtColor_0" type="text" value="" placeholder="颜色" name="sku.color" />
							</div>
							<div for="txtColor_0" class="validateLine clearfix" name="valColor"></div>
							<div class="controls uploadImg">
								<div class="mask" id="T_adBanner_0" img-container="img_0">
									<i class="iconfont mr10">&#xe632;</i>
									<input class="inputText" type="hidden" id="hidPicUrl_0" value="" name="sku.img"/>
								</div>
								<div class="itemImg" id="img_0">
									<img src=""/> 
								</div>
							</div>
							<div for="hidPicUrl_0" class="validateLine clearfix" name="valImg"></div>
							<div class="controls" style="padding-top:5px;">
								<input class="inputText" id="txtQuantity_0" type="text" value="" placeholder="库存" name="sku.quantity" />
							</div>
							<div for="txtQuantity_0" class="validateLine clearfix" name="valQuantity"></div>
						</div>
						#{/else}
						<div class="addMarkAdd" id="addSpec">
							<i class="iconfont">&#xe60b;</i>
							<span class="mt3">增加规格</span>
						</div>
					</div>
				</div>
				<div class="form_line">
					<label class="lbl">净重量</label>
					<div class="controls">
						<input class="inputText" id="txtNetWeight" type="text" value="${item?.netWeight}" name="item.netWeight" />
						<span class="mt3">kg</span>
					</div>
					<div for="txtNetWeight" class="validateLine clearfix"></div>
				</div>
				<div class="form_line">
					<label class="lbl">毛重量</label>
					<div class="controls">
						<input class="inputText" id="txtGrossWeight" type="text" value="${item?.grossWeight}" name="item.grossWeight" />
						<span class="mt3">kg</span>
					</div>
					<div for="txtGrossWeight" class="validateLine clearfix"></div>
				</div>
				<div class="form_line">
					<label class="lbl">商品单位</label>
					<div class="controls">
						<input class="inputText" id="txtUnit" type="text" value="${item?.unit}" name="item.unit" />
					</div>
					<div for="txtUnit" class="validateLine clearfix"></div>
				</div>
				<div class="form_line">
					<label class="lbl">初始销量</label>
					<div class="controls">
						<input class="inputText" id="txtNum" type="text" value="${item?.initialQuantity?item.initialQuantity:0}" name="item.initialQuantity" />
					</div>
					<div for="txtNum" class="validateLine clearfix"></div>
				</div>
				<div class="form_line">
					<label class="lbl">产地</label>
					<div class="controls" id="regionControls">
						<input type="text" class="inputText" value="${item?.origin?item.origin:'德国'}" name="item.origin" id="placePro"/>
					</div>
					<div for="placePro" class="validateLine clearfix"></div>
				</div>
				<div class="form_line">
					<label class="lbl">货号</label>
					<div class="controls">
						<input class="inputText" id="txtOutNo" type="text" value="${item?.outNo}" name="item.outNo" />
					</div>
					<div for="txtOutNo" class="validateLine clearfix"></div>
				</div>
				<div class="form_line">
					<label class="lbl">售价</label>
					<div class="controls">
						<input class="inputText" id="txtRetailPrice" type="text" value="${item?.retailPrice?item.retailPrice/100:0}" name="item.d_retailPrice" />
						<span class="mt3">元</span>
					</div>
					<div for="txtRetailPrice" class="validateLine clearfix"></div>
				</div>
				<div class="form_line">
					<label class="lbl">品牌</label>
					<div class="controls">
						<input class="inputText" type="hidden" value="${item?.brand?.id}" name="item.brandId" id="brandTxt"/>
						<span class="mt3 chooseBrand" ${item?.brand?.name?"style='display:none'":""}>未选择</span>
						<div ${item?.brand?.name?"":"style='display:none'"} id="showBrand">
							<span class="mt3">${item?.brand?.name}</span>
							<i class="iconfont ml10" id="delBrand">&#xe606;</i>
						</div>
					</div>
					<div for="brandTxt" class="validateLine clearfix" name="valbrand"></div>
				</div>
				<div class="form_line clearfix">
					<label class="lbl" style="float: left">商品详情</label>
					<div class="controls" id="editorControl" style="float: left">
						<div class="PCdetail" id="PCcontainer">
							<textarea id="itemDetail" name="item.detail" style="display: none"></textarea>
							<script type="text/plain" id="contentEditor">
								${item?item.detail?.raw():""}
							</script>
						</div>
					</div>
				</div>
				<div class="form_line">
					<label class="lbl">商品备注</label>
					<div class="controls">
						<textarea class="textnote" id="txtNote" type="text" name="item.note">${item?.note}</textarea>
					</div>
					<div for="txtNote" class="validateLine clearfix" name="valValue"></div>
				</div>
				<div class="form_line">
					<label class="lbl">当前状态</label>
					<div class="controls">
						<select class="mb10 select" id="selStatus" name="item.status">
						#{if item&&item.status.toString()=='ONLINE'}
							<option value="ONLINE" selected="true">在架</option>
							<option value="HIDE">下架</option>
						#{/if}
						#{else}
							#{if !item}
								<option value="ONLINE"  selected="true">在架</option>
								<option value="HIDE" >下架</option>
							#{/if}
							#{else}
								<option value="ONLINE">在架</option>
								<option value="HIDE"  selected="true">下架</option>
							#{/else}
						#{/else}
						</select>
					</div>
					<div for="selStatus" class="validateLine clearfix"></div>
				</div>
				<div class="button_section" style="padding-left:125px;">
					<a class="btnStd btnLarge btnYellow-shadow" id="btnSubmit" href="javascript:;">提交</a>
				</div>
			</form>
		</div>
	</div>
	<!-- //	cont_mypage -->
</div>
<div class="popWrapper" id="addBrand">
	<div class="popWndFrame" style="min-width:770px">
		<div class="modalWnd" tr-url="" id="addWndWrapper">
			<a href="javascript:;" class="wnd_Close_Icon" title="关闭窗口"><i class="iconfont mr10">&#xe60c;</i></a>
			<div class="modalWndInner">
				<div id="T_cateControls_b">
					<input type="hidden" name="" />			
					<div class="search-sel" id="searchBrand" style="margin-left:15px;"> <i class="iconfont mr10" id="searchBrandBtn">&#xe608;</i>
						<input type="text" class="inputText" placeholder="搜索" id="brandInput"/>
					</div>
				</div>
				<div class="brandList" id="brandList">
					<ul></ul>
				</div>
			</div>
			<div class="wndBotButtonSection">
				<a id="btnConfirm" href="javascript:;" class="btnStd btnLarge btnYellow-shadow trSubmit">确认</a>
			</div>
		</div>
	</div>
</div>
<div class="popWrapper" id="addCate">
	<div class="popWndFrame" style="min-width:770px">
		<div class="modalWnd" tr-url="" id="addCateWndWrapper">
			<a href="javascript:;" class="wnd_Close_Icon" title="关闭窗口"><i class="iconfont mr10">&#xe60c;</i></a>
			<div class="modalWndInner">
				<div id="T_cateControls_c">
					<input type="hidden" name="" />			
					<div class="search-sel" id="searchCate" style="margin-left:15px;"> <i class="iconfont mr10" id="searchCateBtn">&#xe608;</i>
						<input type="text" class="inputText" placeholder="搜索" id="cateInput"/>
					</div>
				</div>
				<div class="cateList" id="cateList">
					<ul></ul>
				</div>
			</div>
			<div class="wndBotButtonSection">
				<a id="btnCatefirm" href="javascript:;" class="btnStd btnLarge btnYellow-shadow trSubmit">确认</a>
			</div>
		</div>
	</div>
</div>
#{set 'moreManaScripts'}
<script type="text/javascript" src="/public/javascripts/bizComponents/manage/itemManaEdit.js"></script>
<script src="@{'/public/javascripts/ueditor/ueditor.config.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/ueditor/editor_api.js'}" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" src="@{'/public/javascripts/ueditor/lang/zh-cn/zh-cn.js'}"></script>
<script type="text/javascript">APP.QnDomain = '${upload_domain}';App.module = 'itemList';</script>
#{/set}