*{ 这是管理员登录进来后看到的菜单 }*
<div class="hd_mysnbMenu">
	<div class="mysnbMenu" style="border:0px;">
		<div class="container_body">
			<div class="container_left">
				<div class="mypage_menu">
					<h2>
						<span>商品相关管理</span>
					</h2>
					<ul>
						<li>
							<a href="/sys/item/list" class="navLink" module="itemList">商品管理</a>
						</li>
						#{if false}
						<li>
							<a href="/sys/album/manage" class="navLink" module="albumManage">专辑管理</a>
						</li>
						<li>
							<a href="javascript:;">热卖管理</a>
						</li>
						<li>
							<a href="/sys/activity/manage" class="navLink" module="activityManage">活动管理</a>
						</li>
						#{/if}
						<li>
							<a href="/sys/order/list" class="navLink" module="orderList">订单管理</a>
						</li>
					</ul>
					<h2>
						<span>用户管理</span>
					</h2>
					<ul>
						<li>
							<a href="/sys/user/manage" class="navLink" module="userManage">注册用户管理</a>
						</li>
						#{if false}
						<li>
							<a href="/sys/supplier/manage" class="navLink" module="supplierManage">供应商管理</a>
						</li>
						<li>
							<a href="/sys/retailer/manage" class="navLink" module="retailerManage">零售商管理</a>
						</li>
						<li>
							<a href="/sys/article/wechat" class="navLink" module="chatManage">微信用户管理</a>
						</li>
						#{/if}
					</ul>
					<h2>
						<span>系统设置</span>
					</h2>
					<ul>
						<li>
							<a href="/sys/brand" class="navLink" module="brandManage">品牌管理</a>
						</li>
						<li>
							<a href="/sys/cate" class="navLink" module="cateManage">系统类目管理</a>
						</li>
						<li>
							<a href="/sys/home/manage" class="navLink" module="indexManage">主页编辑</a>
						</li>
						#{if false}
						<li>
							<a href="/sys/search/show" class="navLink" module="searchShowCase">搜索列表明星产品</a>
						</li>
						<li>
							<a href="/sys/freight/manage" class="navLink" module="freightManage">运费模板管理</a>
						</li>
						#{/if}							
					</ul>
					<h2>
						<span>运营信息管理</span>
					</h2>
					<ul>
						<li>
							<a href="/sys/article" class="navLink" module="articleManage">文章管理</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>