<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="models.mappers.CartMapper">
	
	<insert id="insert" parameterType="models.Cart">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into cart
		<trim prefix="(" suffix=")" suffixOverrides=",">
			retailer_id,
			item_id,
			brand_id
			cart_price,
			sku_color,
			sku_quantity
			cart_count,
			retail_price,
			title,
			pic_url
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{retailerId},
			#{itemId},
			#{brandId},
			#{cartPrice},
			#{skuColor},
			#{skuQuantity},
			#{cartCount}
			#{retailPrice},
			#{title},
			#{picUrl}
		</trim>
	</insert>
	
	
</mapper>