<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="models.mappers.CartMapper">
	
	<insert id="insert" parameterType="models.Cart">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		insert into cart
		<trim prefix="(" suffix=")" suffixOverrides=",">
			retailer_id,
			item_id,
			brand_id,
			sku_color,
			sku_quantity,
			cart_count,
			retail_price,
			title,
			pic_url,
			cart_price
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{retailerId},
			#{itemId},
			#{brandId},
			#{skuColor},
			#{skuQuantity},
			#{cartCount},
			#{retailPrice},
			#{title},
			#{picUrl},
			#{cartPrice}
		</trim>
	</insert>

	<update id="updateById" parameterType="models.Cart">
		update cart
		<set>
			<if test="cartCount != 0">
				cart_count = #{cartCount},
			</if>
			
			<if test="cartPrice != 0">
				cart_price = #{cartPrice},
			</if>
			<if test="skuQuantity != 0">
				sku_quantity = #{skuQuantity},
			</if>
			
			
		</set>
		where id = #{id}
	</update>
</mapper>