#{extends 'UserCenter/user-frame.html' /}
#{set title:'个人信息' /}
#{set 'moreSubStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/infstyle.css'}"  />
#{/set}
<div class="user-info">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">个人资料</strong> / <small>Personal&nbsp;information</small></div>
    </div>
    <hr/>
    <div class="info-main">
    		<div class="error_panel" style="padding-left: 198px;color: #f00;line-height: 33px">
				${flash?.error}
			</div>
        <form action="" id="frmEditUser" method="post">
				#{authenticityToken/}
            <div class="am-form-group">
                <label for="user-name" class="am-form-label">姓名</label>
                <div class="am-form-content">
                   <input class="inputText" id="txtName" type="text" value="${user?.name}" name="user.name" tabindex="1"/>
				</div>
				<div for="txtName" class="validateLine clearfix"></div>
            </div>
            <div class="am-form-group">
                <label for="user-phone" class="am-form-label">电话</label>
                <div class="am-form-content">
                    <span style="display:inline-block;line-height: 24px;">${user?.phone}</span>
                </div>
            </div>
            <div class="am-form-group">
                <label for="user-email" class="am-form-label">电子邮件</label>
                <div class="am-form-content">
                   <input class="inputText" id="txtEmail" type="text" value="${user?.email}" name="user.email" />
				</div>
				<div for="txtEmail" class="validateLine clearfix"></div>
            </div>
            <div class="info-btn" id="btnUserSubmit">
                <div class="am-btn am-btn-danger btnStd">保存修改</div>
            </div>
        </form>
    </div>
</div>
<!-- //content-area -->
#{set 'moreSubScripts'}
<script src="@{'/public/javascripts/libs/mustache.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/libs/jquery.validate.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/validate.plus.js'}" type="text/javascript"></script>
<script type="text/javascript" src="/public/javascripts/bizComponents/retailer/retailerEdit.js"></script>
<script type="text/javascript">APP.QnDomain = '${upload_domain}';App.module = 'retailerEdit';</script>
#{/set}