#{extends 'UserCenter/user-frame.html' /}
#{set title:'付款' /}
#{set 'moreSubStyles'}
<link href="@{'/public/stylesheets/retailer/payFor.css'}" rel="stylesheet" type="text/css" />
#{/set}
<div class="cont_mypage" style="margin-top:30px" id="container">
	<div class="container_contents container_myMain_contents">
		<div style="margin-top:0px;">
			<div class="column_left">
				<h3>付款</h3>
			</div>
		</div>
		<div class="tbl_wrap_type02 pt50">
			<form action="/retailer/fee/pay" id="payForm" method="post" target="_blank">
				#{authenticityToken/}
				<div class="stepOne">
					<div class="form_line">
						<label class="lbl">支付</label>
						<div class="controls">
							<input class="inputText" id="txtFee" type="text" name="fee" tabindex="1" />
							<span style="line-height:24px;">元</span>
						</div>
						<div for="txtFee" class="validateLine clearfix"></div>
					</div>
					<div class="button_section" style="padding-left:95px;">
						<a class="btnStd btnLarge btnYellow-shadow" href="javascript:;">去付款</a>
					</div>
				</div>
				<div class="stepTwo">
					<div class="choosebtn scanPay" id="btnShowQrcode">
						<div class="icon tc">
							<i class="iconfont">&#xe616;</i>
						</div>
						<div class="text tc">扫码支付<span class="red">(推荐)</span></div>
					</div>
					<div class="choosebtn passPay" id="btnSubmit">
						<div class="icon tc">
							<i class="iconfont">&#xe644;</i>
						</div>
						<div class="text tc">密码支付</div>
					</div>
				</div>
				<div class="aton-qrcode">
					<p class="f14">
						扫码下面的公司二维码进行支付
					</p>
					<div class="mt20">
						<img src="/public/images/aton-copalipay-qrcode.png" title="扫码支付" />
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- //	cont_mypage -->
</div>
<!-- //content-area -->
#{set 'moreSubScripts'}
<script src="@{'/public/javascripts/libs/mustache.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/libs/jquery.validate.min.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/validate.plus.js'}" type="text/javascript"></script>
<script type="text/javascript" src="/public/javascripts/bizComponents/retailer/payFor.js"></script>
<script type="text/javascript">App.module = 'payFor';</script>
#{/set}