<div class="m-user">
  <!--个人信息 -->
  <div class="m-userinfo">
      <a href="/retailer/edit">
          <div class="tipsBox"><i class="am-icon-newspaper-o" title="个人信息"></i></div>
      </a>
      <div class="m-baseinfo">
		      <form id="frmMiddlePoster">
						#{authenticityToken/}
	          <!-- <a class="m-pic" href="information.html">
	              <img src="images/getAvatar.do.jpg">
	          </a> -->
	          <div class="m-pic" id="img_content">
							<input type="hidden" name="user_avatar"/>
							<img src="${user?.avatar?user.avatar:'/public/images/avatar_empty.png'}" alt="${user?.name}"/>
							<!-- <div class="mask" id="uploadHead"> <i class="iconfont">&#xe632;</i></div> -->
						</div>
		      </form>
          <div class="m-info">
              <em class="s-name">${user?.name}</em>
              <div class="vip1"><a href="#">
                  <span style="margin-left: 30px"></span>
              </a></div>
              <div class="m-address" style="margin-top: 20px">
                  <a href="/retailer/address" class="i-trigger">地址管理<i class="am-icon-angle-right" style="padding-left:5px ;"></i></a>
              </div>
          </div>
      </div>
  </div>
  <div class="m-userproperty">
      <div class="s-bar">
          <i class="s-icon"></i>我的交易
      </div>
      <!-- <p class="m-coupon">
          <a href="#">
              <em class="m-num">0.00</em>
              <span class="m-title">订单总额</span>
          </a>
      </p> -->
      <p class="m-wallet">
          <a href="">
              <!-- <em class="m-num">0.00</em> -->
              <span class="m-title">退款售后</span>
          </a>
      </p>
  </div>
  <!--我的钱包-->
  <div class="wallet">
      <div class="s-bar">
          <i class="s-icon"></i>快速通道
      </div>
      <p class="m-big squareS">
          <a href="/user/cart">
              <i><img src="/public/images/shopping.png"/></i>
              <span class="m-title">购物车</span>
          </a>
      </p>
      <p class="m-big squareA">
          <a href="/user/edit/pass">
              <i><img src="/public/images/safe.png"/></i>
              <span class="m-title">密码管理</span>
          </a>
      </p>
      <p class="m-big squareL">
          <a href="/user/storeList">
              <i><img src="/public/images/profit.png"/></i>
              <span class="m-title">我的收藏</span>
          </a>
      </p>
  </div>
</div>
<div class="box-container-bottom"></div>