.pagin-btm {
	height: 40px;
	zoom: 1;
	display: block;
	text-align: center
}
.pagination {
	overflow: hidden;
	display: inline-block;
	margin: 4px auto
}
.font_bold {
	font-weight: 700;
	color: #444;
	font-family: arial
}
.pagination span, .pagination a {
	display: inline-block;
	position: relative;
	line-height: 30px;
	padding: 0 12px;
	overflow: hidden;
	text-align: center;
	background-color: #fff;
	font-size: 14px;
	color: #52D0C4;
	margin-right: 6px;
}
.pagination a{
	border: 1px solid #eee;
	border-radius: 1px;
	cursor: pointer
}
.pagination a:hover {
	border-color: #52D0C4
}
.pagination .current {
	border-color: #52D0C4;
	color: #fff;
	background-color: #52D0C4;
}
.pagination .current.T_prev, .pagination .current.T_next {
	display: none
}
.pagination .T_prev {
	padding: 0 10px;
	margin-right:6px;
}
.pagination .T_next {
	padding: 0 10px;
}