* { margin: 0; padding: 0; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    outline: 0;
	font-size: 100%;
	font-family: 'Hiragino Sans GB','microsoft yahei',arial,sans-serif;
	vertical-align: top;
	color:#444;
    background: transparent;
	font-size:13px;
	text-align:left;
}

ol, ul { list-style: none; }
ul, li { list-style: none outside none; }

input {margin:0px; padding:0px; font-size:0px; line-height:0px; width:13px; height:13px;  vertical-align:top;}
input.text {width:117px;height:19px; border:1px solid #d7d7d7;  top:0px; font-size:12px; line-height:19px;}

hr { }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remove textarea resize at Safari */
textarea { resize: none; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
@font-face{font-family:'iconfont';src:url('/public/images/font/iconfont.eot');src:url('/public/images/font/iconfont.eot?#iefix') format('embedded-opentype'),url('/public/images/font/iconfont.woff') format('woff'),url('/public/images/font/iconfont.ttf') format('truetype')}.iconfont{font-family:"iconfont";font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;}
a,a:hover {
	text-decoration: none;
}