#{extends 'main.html' /}
#{set title:'报道' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/activity.css'}"  />
#{/set}
<div id="wrapper">
		<span id="communitySiteMap" class="common_location">
			<span>
				<a href="">全部报道</a>
			</span>
			<span>&gt;</span>
			<span> 新品上架
			</span>
		</span>
		<div class="boriModel_section bori_detail">
			<div class="content">
				<div class="tblWrap viewP">
					<div class="viewP_inner">
						<span class="title">&lt;标题&gt; 名称</span>
						<span class="term">2016.05.23 - 2016.05.29</span>
						<span class="floatR">
							<a href="javascript:;" class="likeit">
								<span id="Span1" class="voteGood">42</span>
							</a>
							<a href="javascript:;" id="btnModalShare1" class="share"><i class="iconfont tip-hide">&#xe613;</i>
							</a>
						</span>
					</div>
					<div class="cont_wrap">
						<img src="http://cdn.boribori.co.kr/Images_Web/Event/160523_moon_01.jpg" width="930" height="68"/>					
						<img src="http://cdn.boribori.co.kr/Images_Web/Event/160523_moon_02.jpg" width="930" height="1397"/>
					</div>
					<div class="likeit_area">
						<a href="javascript:;" class="likeit">
							<span id="voteGood" class="voteGood">42</span>
						</a>
					</div>
					<div class="view_btn">
						<div class="floatL">
							<a href="" class="btn_st_h">列表</a>
						</div>
						<div class="floatR">
							<a href="" class="btn_st_h prev_arrw"><i class="iconfont tip-hide">&#xe61a;</i> 上一篇</a>
							<a href="" class="btn_st_h next_arrw">下一篇 <i class="iconfont tip-hide">&#xe61b;</i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="bg_dep_gry">
				<div class="cont_dep">
					<div id="type1" style="display:block">
						<div class="cmnt_write">
							<div class="cmnt_write_area">
								<textarea name="" id="cphContent_txtComment"></textarea>
								<div class="clear"></div>
								<div class="tc mr20">
									<img src="/captcha" class="imgCaptcha" alt="点击刷新" />
								</div>
								<div class="tc">
									<input id="txtImgCaptcha_ret" type="text" class="inputText short" placeholder="验证码" maxlength="4" />
								</div>
								<p>
									<span id="sDisp"> <em>0</em> ⁄ 100字
									</span>
									<a class="btn_st" href="">提交</a>
								</p>
							</div>
						</div>
					</div>
					<input type="hidden" id="CurrentIndex" value="2"/>
					<input type="hidden" id="BoardSeq" value="2599122"/>
					<div class="cmnt_list">
						<div class="util">评论 ( 53条 )</div>
						<ul class="list_template" id="list_template">
							<form method="post" action="" id="form1">
								<div class="aspNetHidden">
									<input type="hidden" name="_VIEWSTATE" id="_VIEWSTATE" value=""/></div>
								<div class="aspNetHidden">
									<input type="hidden" name="_VIEWSTATEGENERATOR" id="_VIEWSTATEGENERATOR" value="453D92F5"/></div>
								<li class="">
									<dl>
										<dt>
											<img src="/public/images/img_cmnt_pic_temp.gif" alt=""/></dt>
										<dd>
											<div>
												<span class="CommentUserID">babolove8012</span>
												<span class="date">2016.06.13 11.05.00</span>
											</div>
											<div class="cmnt">孩子们看到骊州宇宙是什么样的。</div>
										</dd>
									</dl>
								</li>
								<li class="">
									<dl>
										<dt>
											<img src="/public/images/img_cmnt_pic_temp.gif" alt=""/></dt>
										<dd>
											<div>
												<span class="CommentUserID">km2y9</span>
												<span class="date">2016.06.10 11.24.00</span>
											</div>
											<div class="cmnt">太想你~~^^</div>
										</dd>
									</dl>
								</li>
							</form>
						</ul>
						<div class="page_more">
							<a href="javascript:;" class="moreBtn">
								<span>更多 +</span>
								&nbsp; <i class="ico_plus"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<textarea class="muban" id="reportTemp" style="display:none">
	{{#results}}
	<li class="">
		<dl>
			<dt>
				<img src="" alt=""/></dt>
			<dd>
				<div>
					<span class="CommentUserID"></span>
					<span class="date"></span>
				</div>
				<div class="cmnt"></div>
			</dd>
		</dl>
	</li>
	{{/results}}
</textarea>
#{set 'moreScripts'}
<script src="@{'/public/javascripts/libs/mustache.min.js'}" type="text/javascript"></script>
<script type="text/javascript" src="/public/javascripts/libs/qiniu.min.js"></script>
<script type="text/javascript" src="/public/javascripts/bizComponents/report.js"></script>
#{/set}