#{extends './index.html' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/index.css'}" media="all" />
#{/set}
#{set title:'主页' /}
<div class="titleBlock">
    <div class="linemiddle fl"></div>
    <div class="titleText fl">特价促销</div>
    <div class="linemiddle fr"></div>
</div>
<div id="icontent">
  <div class="index-outlet">
    <div class="layout">
      #{if homeSet?.activitySettings}
        #{list items:homeSet.activitySettings, as : 'activitySetting'}
        #{if activitySetting.isPublic}
        <div class="block">
          <a class="bigban" href="${activitySetting.url}" target="_blank">
            <img class="lazyload" src="${activitySetting.imgUrl}" width="750" height="350"/>
          </a>
          <div class="rank">
            #{if activitySetting.itemSettings}
              #{list items:activitySetting.itemSettings, as : 'itemSetting'}
                #{if itemSetting.title && itemSetting.img}
                
                <div class="itemblock">
                  <div class="l gds-img">
                    <a href="/item/${itemSetting.id}" target="_blank">
                      <img class="lazyload" src="${itemSetting.img}?imageView2/2/w/78/q/100"/>
                    </a>
                  </div>
                  <div class="r">
                    <p class="tit">
                      <a href="/item/${itemSetting.id}" target="_blank">
                        ${itemSetting.title}
                      </a>
                    </p>
                    <div class="price" style="cursor:default">
                      <span class="new">
                        ¥ <span>${new java.text.DecimalFormat("0.00").format(itemSetting.price/100)}</span>
                      </span>
                      <span class="old">

                        <span>${new java.text.DecimalFormat("0.00").format(itemSetting.price/800)}</span>€
                      </span>
                    </div>
                  </div>
                </div>
                #{/if}
              #{/list}
          #{/if}
          </div>
        </div>
        #{/if}
        #{/list}
      #{/if}
      #{else}
        <div class="block">
        <a class="bigban" href="" target="_blank">
          <img class="lazyload" src="http://img02.miyabaobei.com/d1/p5/2016/06/15/58/cc/58cc82a6c3541672746f71b89f46f0bc995439193.jpg" width="750" height="350"/>
        </a>
        <div class="rank">
          <div class="itemblock">
            <div class="l gds-img">
            <a href="javascript:;" target="_blank">
              <img class="lazyload" src="http://img01.miyabaobei.com/d1/p4/item/13/1319/1319209_normal_2.jpg"/>
            </a>
            </div>
            <div class="r">
              <p class="tit"><a href="javascript:;" target="_blank">如比 Zoobies 玩具/抱枕/绒毯三合一系列海底总动员多莉 蓝</a></p>
              <div class="price" style="cursor:default">
                <span class="new">
                  ¥ <span>230.00</span>
                </span>
                <span class="old">
                  <span>388.00</span>€
                </span>
              </div>
            </div>
          </div>
          <div class="itemblock">
            <div class="l gds-img">
            <a href="javascript:;" target="_blank">
              <img class="lazyload" src="http://img01.miyabaobei.com/d1/p3/item/12/1254/1254883_normal_2.jpg"/>   
            </a>  
            </div>
            <div class="r">
              <p class="tit"><a href="javascript:;" target="_blank">如比 Zoobies 玩具/抱枕/绒毯 三合一系列 小丑鱼尼莫</a></p>
              <div class="price">
                <span class="new">
                  ¥
                  <span>216.00</span>
                </span>
                <span class="old">
                  <span>328.00</span>€
                </span>
              </div>
            </div>
          </div>
          <div class="itemblock">
            <div class="l gds-img">
            <a href="javascript:;" target="_blank">
              <img class="lazyload" src="http://img01.miyabaobei.com/d1/p3/item/12/1254/1254914_normal_2.jpg"/> 
            </a>    
            </div>
            <div class="r">
              <p class="tit"><a href="javascript:;" target="_blank">如比 Zoobies 玩具/抱枕/绒毯 三合一系列 海龟小古</a></p>
              <div class="price">
                <span class="new">
                  ¥
                  <span>216.00</span>
                </span>
                <span class="old">
                  <span>328.00</span>€
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      #{/else}
    </div>
  </div>
</div>
<!-- <div class="titleBlock">
    <div class="linemiddle fl"></div>
    <div class="titleText fl">新品推荐</div>
    <div class="linemiddle fr"></div>
</div> -->
<!-- <div class="content-top">
  <div class="content-top1">
    #{if search_result?.items}
    #{list items:search_result.items,as : 'item'}
    <div class="col-md-3 col-md3">
        <div class="col-md1 simpleCart_shelfItem">
            <a href="/item/${item?.id}" target="_blank">
                <img class="img-responsive lazyImg" src="public/images/grey.gif"  data-original="${item?.picUrl+'?imageView2/2/h/183/q/100'}" border="0" alt="${item.title}" title="${item.title}" style="width: 193px;height: 193px;" />
            </a>
            <div class="price" style="margin:10px 30px;">
              <h5 class="item_price">
                <span class="new">
                  ¥ <span>${item.retailPrice/100}</span>
                </span>
                  <span class="old">
                    <span>${item?.cny2eur}</span>€
                  </span>
                </h5> -->
              <!-- <span class="glyphicon glyphicon-star-empty item_collect"></span>
              <a href="#" class="item_add"><img src="/public/images/cart.png" alt="" style="width: 20px;height: 20px;" /></a> -->
              <!-- <div class="clearfix"> </div>
            </div>
            <h3 style="margin:0 30px;"><a href="/item/${item?.id}">${item?.title}</a></h3>
        </div>
    </div>  
    #{/list}
    #{/if}
    <div class="clearfix"> </div>
  </div>
</div> -->
#{set 'moreScripts'}
<script type="text/javascript" src="/public/javascripts/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/public/javascripts/libs/qiniu.min.js"></script>
<script type="text/javascript"  src="@{'/public/javascripts/src/jquery.lazyload.min.js'}"></script>
#{/set}
