#{extends 'main.html' /}
#{set title:'主页' /}
#{set 'moreStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/index.css'}" media="all" />
#{/set}
*{ 主页轮播大海报 }*
<div class="banner">
    <div class="col-sm-2">
        <div class="sidebar-title">TOP热销品牌</div>
        #{if homeSet?.brandSettings}
        <ul class="sidebar-navigation">
          #{list items:homeSet.brandSettings, as : 'brandSetting'}
          <li>
            <a href="/search?brandId=${brandSetting.bid}&pageNo=1">
                <p>${brandSetting.title}</p>
            </a>
          </li>
          #{/list}
        </ul>
        #{/if}
        #{else}
        <ul>
          <li>
            <p>111111</p>
          </li>
          <li>
            <p>2222222</p>
          </li>
        </ul>
        #{/else}
    </div>
	<div class="col-sm-10 matter-banner">
  	<div class="slider">
  		<div id="main_visual" class="callbacks_container">
        #{if homeSet?.big_BannerSettings}
        <ul class="rslides" id="slider">
          #{list items:homeSet.big_BannerSettings, as : 'big_BannerSetting'}
          <li>
            <a href="${big_BannerSetting.url}" target="_self">
              <img alt="${big_BannerSetting.title}" src="${big_BannerSetting.imgUrl}"/>
            </a>
          </li>
          #{/list}
        </ul>
        #{/if}
        #{else}
        <ul class="rslides" id="slider">
          <li>
            <a href="#" target="_self">
              <img alt="" src="/public/images/img/tricycle20150710344512654.jpg" />
            </a>
          </li>
          <li>
            <a href="#" target="_self">
              <img alt="" src="/public/images/img/tricycle201507101694425930.jpg" />
            </a>
          </li>
        </ul>
        #{/else}
      </div>
  	</div>
  </div>
</div>
<div class="clearfix"> </div>


#{doLayout /}
#{set 'moreScripts'}
<script type="text/javascript" src="/public/javascripts/responsiveslides.min.js"></script>
<script>
$(document).ready(function() {
    $(".memenu").memenu();//for menu shrink
    $("#slider").responsiveSlides({
        auto: true,
        speed: 500,
        namespace: "callbacks",
        pager: false,
        nav: true
    });
});
</script>
#{/set}