#{extends 'simple-frame.html' /}
#{set title:'注册' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/regist.css'}" rel="stylesheet" type="text/css" />
#{/set}
<div class="contentBody">
	<div class="title" style="height:35px;">
	</div>
	<div class="contentBox">
		<div class="contentTitle">
			<h3 style="font-size: 14px">填写注册信息</h3>
		</div>
		<div class="certificationTypeBox">
			 <div class="error_panel" style="text-align:left;padding-left:198px;color:#f00;">${flash?.error}</div>
			*{ 注册表单开始 }*
			<form id="frmRegistRetailer" action="/retRegist" method="post">
				#{authenticityToken/}
				<input name="registType" value="retailer" type="hidden" />
				<div class="formLine">
					<label class="f14">登录手机号</label>
					<input id="txtLoginPhone_ret" name="user.phone" type="text" class="inputText middle registerPhone" placeholder="手机号码" tabindex="1" maxlength="11" value="${flash?.phone}" />
					<a href="javascript:;" id="ret_btnSendPhone" class="ml4 btnSendPhoneCaptcha" style="">获取动态验证码</a>
					<div for="txtLoginPhone_ret" class="validateLine clearfix"></div>
				</div>
				<div class="formLine">
					<label class="f14">填写验证码</label>
					<input id="txtPhoneCaptcha_ret" name="captcha" type="text" class="inputText middle" placeholder="手机上收到的验证码" tabindex="2" maxlength="6" />
					<div for="txtPhoneCaptcha_ret" class="validateLine clearfix"></div>
				</div>
				
				<div class="formLine">
					<label class="f14">密 码</label>
					<input id="txtPassword_ret" name="user.password" onfocus="this.type='password'" autocomplete="off" type="text" class="inputText long" placeholder="输入密码" tabindex="3" maxlength="20" minlength="6" />
					<div for="txtPassword_ret" class="validateLine clearfix"></div>
				</div>
				<div class="okBtn mt40" id="btnRegisterRet">
					<a href="javascript:">
						<p class="f14">注 册</p>
					</a>
				</div>
			</form>
			*{ 注册表单结束 }*
		</div>
		<div class="certificationTypeBox_pop">
			<div class="maskbg"></div>
			<div class="sendSmsPop">
				<form id="captchaForm">
					<a href="javascript:;" class="popCloser">
						<i class="iconfont" style="font-size:26px;color:#444">&#xe60c;</i>
					</a>
					<div class="">输入图中验证码</div>
					<div class="tc mt20">
						<img src="/captcha" class="imgCaptcha" title="点击刷新" alt="点击刷新" />
						<p class="tc grey mt4">点击刷新</p>
					</div>
					<div class="mt20 tc">
						<input id="txtImgCaptcha_ret" name="captchaCode" type="text" class="inputText tc txtImgCaptcha_ret"  maxlength="4" minlength="4" style="width:160px" />
					</div>
					<div for="txtImgCaptcha_ret" class="validateLine clearfix tc"></div>
					<div class="okBtn mt10 confirmSendSmsBtn">
						<a href="javascript:">
							<p class="f14">确认发送</p>
						</a>
					</div>
				</form>
			</div>
		</div>
		<div class="ml20 mt40">
			已有账号？
			<a href="/login" class="orange">直接登录</a>
		</div>
	</div>
</div>
#{set 'moreScripts'}
<script type="text/javascript" src="/public/javascripts/libs/jquery.validate.min.js"></script>
<script type="text/javascript" src="/public/javascripts/validate.plus.js"></script>
<script type="text/javascript" src="/public/javascripts/bizComponents/regist.js"></script>
#{/set}