#{extends 'simple-frame.html' /}
#{set title:'注册' /}
#{set 'moreStyles'}
<link href="@{'/public/stylesheets/regist.css'}" rel="stylesheet" type="text/css" />
<style>
  .iconfont{
  font-family:"iconfont";
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.2px;
        -moz-osx-font-smoothing: grayscale; 
        padding-left:20px
}

</style>
#{/set}
<div class="contentBody">
	<div class="title" style="height:35px;">
	</div>
	<div class="registDown">
		<div class="leftside"></div>
		<div class="rightside">
			<p class="welldown">注册成功！</p>
			<p><span class="line_time"></span>秒后跳转至登录页面</p>
		</div>	
		
	</div>
	<div style="margin-left:25px; height:238px; padding-bottom:40px;"></div>
</div>
#{set 'moreScripts'}
<script type="text/javascript">
	var seconds = 3;
	var clock = setInterval(function(){
		$('.line_time').text(seconds--);
		if(seconds == 0){
			location.href = '/login';
		}
	},1000);
</script>
#{/set}